

// Arrows
.slick-arrow
    position: absolute
    top: calc(50% - 60px)
    height: 120px
    line-height: 120px
    width: 25px
    z-index: 99
    background: #000
    color: #fff
    text-align: center
    cursor: pointer
    &:hover
        color: #DA5F15
.slick-prev
    left: -35px
.slick-next
    right: -35px
