#hero_slider
    height: 587px
    width: 100%
    .slick-dots
        bottom: 0
        button
            width: 40px
            height: 3px
            border-radius: 0px
        .slick-active
            button
                height: 6px
    .hero_slide
        width: 100%
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        position: relative
        height: 587px
        direction: rtl
        text-align: right
        .slide__content
            max-width: 470px
            background: rgba(0, 0, 0, .8)
            color: #fff
            position: absolute
            bottom: 120px
            right: 20%
            padding: 20px 25px
            .slide__title
                margin: 0
                font-size: 50px
            .slide__text
                font-size: 18px


@media screen and (max-width: 1100px)
    #hero_slider
        .hero_slide
            .slide__content
                width: calc(100% - 40px)
                max-width: none
                position: absolute
                bottom: 50px
                right: 20px
                padding: 20px 25px
                .slide_cta__container
                    width: 100%
                    text-align: center

@media screen and (max-width: 800px)
    #hero_slider
        .hero_slide
            .slide__content
                bottom: unset
                top: 50px