.home_categories_slider__container
    padding: 0 !important
.home_categories_slider__container>.row
    margin: 0 !important
.home_categories_slider__container>.row>.col
    // padding: 0 35px !important

    
.categories_slider
    margin-bottom: 50px
    .category_slide
        a
            text-decoration: none
    .category_card
        box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.8)
        display: flex
        height: 280px
        padding: 10px 20px
        grid-template-rows: 3fr 2fr
        background: pink
        align-items: center
        background-position: center center !important
        background-repeat: no-repeat !important
        background-size: cover !important
        width: 98%
        flex-wrap: wrap
        justify-content: center
        align-items: center
        flex-flow: column

        .category_icon_link
            text-align: center
            .category_icon
                height: 100px
                margin: 0 auto
        .category_title
            vertical-align: text-top
            padding: 20px 0
            font-size: 24px
            text-align: center
            text-decoration: none
            color: #fff

@media screen and (max-width: 800px)
    .categories_slider
        .slick-slide
            text-align: center
        .category_slide
            max-width: 90%
        .slick-prev
            left: 0
        .slick-next
            right: 0