// Dots
.slick-dots
    position: absolute
    bottom: -50px
    left: 0
    right: 0
    list-style: none
    padding: 0
    display: flex
    flex-flow: row nowrap
    justify-content: center
    li
        padding: 1px 0
        border-radius: 50%
        display: grid
        justify-content: center
        align-items: center
        transition: all 0.3s ease-in-out
        button
            background: #ddd
            border: none
            height: 15px
            width: 15px
            margin: 0 7px
            border-radius: 50%
            text-indent: -9999em
            transition: all 0.3s ease-in-out

    li.slick-active
        padding: 0
        button
            background: #fab31d

// Arrows
.slick-arrow
    position: absolute
    top: calc(50% - 60px)
    height: 120px
    line-height: 120px
    width: 25px
    z-index: 99
    background: #000
    color: #fff
    text-align: center
    cursor: pointer
    &:hover
        color: #fab31d
.slick-prev
    left: -35px
.slick-next
    right: -35px
