.breadcrumbs
    list-style: none
    display: flex
    flex-flow: row wrap
    margin: 0
    padding: 0
    text-align: right
    direction: rtl
    li
        margin: 0 0 0 10px
        color: #fff
        font-size: 14px
        a
            color: #fff
            text-decoration: none
.breadcrumbs.dark
    margin-top: 20px
    margin-bottom: -40px
    li
        color: #000
        a
            color: #000

.generic-breadcrumb
    margin-bottom: 10px !important
