#calculators_popup
    .popup__container
        border-radius: 20px
        max-width: 580px
    .container_header
        position: relative
        .popup__overlay__close
            top: 10px
    .calculator__title_icon
        background: url('assets/svg/pencil-and-ruler.svg') no-repeat #fab31d
        background-position: center
        background-size: 80px 80px
        height: 45px
        width: 45px
        right: 15px
        top: 3px
        position: absolute
        border-radius: 0 20px 0 0
    #calculator__title
        border-radius: 20px 20px 0 0
        padding-right: 70px
    
    .container_body
        padding: 20px 15px 40px

    #calc_1__loader,
    #calc_1__error
        display: none

    #calculators_steps__container
        .calculator__container
            .step__form_container.hidden
                display: none
            .step__form_container
                display: flex
                flex-flow: row
                justify-content: space-between
                .step_number
                    font-size: 200px
                    color: rgba(0, 0, 0, .1)
                    padding: 0 30px
                    font-weight: 600
                .step_content
                    flex-grow: 1
                    width: 100%
                    display: flex
                    flex-flow: column
                    padding: 0 0 30px 0 
                    .step_title
                        text-align: center
                        margin: 20px auto
                        font-size: 22px
                    .step_actions
                        flex-grow: 1
                        display: flex
                        flex-flow: row
                        align-items: flex-end
                        justify-content: space-around
                        button
                            max-width: 100%
                            flex-grow: 1
                            flex: 1
                            margin: 0 10px
                            padding: 10px 30px
                        .prev_step
                            color: #000
                            background: rgba(0, 0, 0, .3)
    #calculators_steps__container
        .input-group
            border-bottom: 1px solid rgba(0, 0, 0, .3)
            align-items: center
            .input-group-prepend
                width: auto
                span,
                .input-group-text
                    color: rgba(0, 0, 0, .3)
                    background: none
                    border: none
                    font-size: 20px
                    width: auto
                    display: inline-block
                
                img
                    height: 30px
                    opacity: .3
            .prepend-full
                width: auto
                span,
                .input-group-text
                    width: auto
                    color: #000
                    font-size: 18px
                    margin-left: -10px
                .input-group-radio
                    img
                        margin-left: 20px

            .form-check-inline
                margin: 0

            input[type="text"],
            input[type="number"]
                border: none
                border-radius: 0
                margin-right: 15px
            .custom-select
                border: none
                padding: 10px 12px
                margin-right: 10px
                flex-grow: 1

            .form-control_disabled 
                pointer-events: none

        .input-group_radio
            display: flex
            flex-flow: row nowrap
            .prepend-full
                padding-left: 10px
            .form-check-inline
                padding: .375rem .75rem 
                padding-left: 5px
                padding-bottom: 0
        .form_error
            color: red
            font-size: 14px
            margin-top: -15px
            margin-bottom: 0
            visibility: hidden

        p.note
            color: rgba(0, 0, 0, .7)
            margin-top: 10px
            text-align: center

@media screen and  (max-width: 800px)
    #calculators_popup
        .popup__container
            margin-left: auto
            margin-right: auto
            width: calc(100% - 10px)
        #calculator__title
            border-radius: 20px 20px 0 0
            padding-right: 50px
            padding-left: 50px
            text-align: center
    #calculators_steps__container
        .calculator__container
            .step__form_container
                position: relative
                .step_number
                    position: absolute !important
                    top: -30px !important
                    right: 0 !important
                    font-size: 100px !important
                    line-height: 100px !important
                    padding: 0 !important
                    font-weight: 600
        
                .step_content
                    .step_title
                    .step_actions
                        display: flex
                        flex-flow: column-reverse !important
                        align-items: unset !important
                        .prev_step
                            margin-top: 15px !important