.calculator_trigger
    display: flex
    flex-flow: row-reverse nowrap
    text-decoration: none
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3)
    padding-left: 15px
    align-items: center
    right: 55px
    z-index: 9999
    color: #000000
    cursor: pointer
    background: #ffffff
    &:hover
        color: #000
    span
        font-size: 18px
        line-height: 18px
        text-align: right
        color: #000
        padding-right: 15px
        
    .icon
        background: url('assets/svg/pencil-and-ruler.svg') no-repeat #fab31d
        background-position: center
        background-size: 80px 80px
        height: 55px
        width: 55px
        display: grid
        justify-content: center
        align-items: center


#calculator_banner
    display: flex
    flex-flow: row nowrap
    height: 260px
    width: 100%
    .col-img
        max-width: 55%
        img
            object-fit: cover
            // object-position: center center
            width: 100%
            height: 260px
    .col-content
        padding: 20px 40px
        background: #000
        color: #fff
        h3
            font-weight: 600
            letter-spacing: .5px

.calculator_trigger__mobile
    display: none 
.calculator_trigger__mobile_nav
    right: 0 !important
    width: auto
    height: unset
    padding: 0 0 0 15px
.calculator_trigger__top_nav
    position: absolute
    top: 20px
@media screen and (max-width: 1550px)
    .calculator_trigger__top_nav
        display: none !important
    .calculator_trigger__mobile
        display: flex !important
        position: fixed !important
        bottom: 30px
        top: auto
        right: 30px

@media screen and (max-width: 1550px)
    .calculator_trigger__top_nav,
    .calculator_trigger__mobile
        display: none !important

    #calculator_banner
        height: unset
        .col-img
            max-width: 20% !important
            img
                height: 100%