.footer
    background: #000
    width: 100%
    direction: rtl
    .footer_container
        display: flex 
        flex-flow: row
        justify-content: center
        margin: 0 auto
        padding-bottom: 40px
    .footer_section
        flex: 1
        max-width: 300px
        color: #fff
        font-size: 18px
        display: flex
        flex-flow: column
        margin: 10px
        text-align: right
        .footer_section__content
            a
                color: #fab31d
                text-decoration: underline
        .paymeny_types
            display: flex
            flex-flow: row nowrap
            margin-top: 10px
            img
                margin: 0 10px
                height: 40px
        
        .social_links
            display: flex
            flex-flow: row nowrap
            .social_link
                margin: 10px
                img
                    height: 40px
                    width: 40px
        .footer_section__title
            position: relative
            padding-right: 10px
            font-size: 25px
            margin: 25px 0
            margin-top: 25px
            &:before
                content: " "
                position: absolute
                top: 0
                bottom: 0
                right: 0
                width: 4px
                height: 100%
                background: #fab31d
        .footer_menu
            list-style: none
            margin: 0
            padding: 0
            .footer_menu-item
                margin: 5px auto
                a
                    color: #fff
                    text-decoration: none
                span
                    padding-left: 10px
                    color: #fab31d

@media screen and (max-width: 1200px)
    .footer
        .footer_container
            flex-flow: column
            .footer_section
                min-width: 300px
                margin: 10px auto
                .paymeny_types, .social_links
                    justify-content: center
                