.spinner-loader 
    margin: 10px auto
    // margin-top: 45px
    border-radius: 50%
    width: 40px
    height: 40px
    border: 2px solid rgba(255, 255, 255, 0.6)
    border-top-color: #fab31d
    animation: spin 1s infinite linear

@keyframes spin 
  0% 
        transform: rotate(0deg)
  
  100% 
        transform: rotate(360deg)
