#newsletter
    margin-top: 50px
    padding: 50px 20px
    text-align: right
    direction: rtl
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/pages/newsletter.png')
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    .newsletter_container
        display: flex
        flex-flow: row
        max-width: 1140px
        margin: 0 auto
        .newsletter__content
            color: #fff
            width: 400px
            margin-left: 15px
            h3
                font-size: 40px
            p
                font-size: 18px

        .newsletter__form
            display: flex
            align-items: center
            flex-flow: column
            justify-content: center
            flex-grow: 1
            #newsletter_signup__form
                display: flex
                flex-flow: row nowrap
                width: 100%
                justify-content: space-between

                input[type=submit]
                    background: #fab31d
                    color: #fff
                    border: none
                    padding: 10px 40px
                    cursor: pointer
                    font-size: 18px
                    font-weight: 400
                    margin-right: 10px
                    width: 120px
                
                input[type=submit]:disabled,
                input[type=submit][disabled]
                    cursor: not-allowed
                input[type=email]
                    flex-grow: 1
                    padding: 7px 12px
                    font-size: 20px
                #newsletter__form_loader
                    display: none
                    width: 120px

            #form_submit_msg
                width: 100%
                display: none
                font-size: 20px
                
            #form_submit_msg.success_msg
                    color: #fff
                    text-align: center
            #form_submit_msg.error_msg
                    color: red

@media screen and (max-width: 1100px)
    #newsletter
        .newsletter_container
            flex-flow: column
            width: 100%
            .newsletter__content
                width: 100%
                margin: 0 auto 20px
                text-align: center

            .newsletter__form
 
                #newsletter_signup__form
                    flex-flow: column
                    width: 100%
                    align-items: center

                    input[type=submit]
                        width: 180px

                    input[type=email]
                        width: 90%
                        margin-bottom: 20px
                        text-align: center

                #form_submit_msg
                    width: 100%
                    display: none
                    font-size: 20px
                    
                #form_submit_msg.success_msg
                        color: #fff
                        text-align: center
                #form_submit_msg.error_msg
                        color: red