#account-page
    direction: rtl
    display: flex
    flex-flow: row
    padding-right: 0
    padding-left: 0
    #account__side_nav
        display: none
    .tabs_wraper
        display: flex
        flex-flow:  column
        width: 100%
        max-width: 1100px
        padding-right: 15px
    .account_tabs__triggers
        display: flex
        flex-flow: column
        margin-bottom: 40px
        .tab_trigger
            display: flex
            flex-flow: row
            align-items: center
            justify-content: space-between
            height: 80px
            margin: 5px 0
            padding: 20px
            color: #000
            background: #fff
            text-decoration: none
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
            cursor: pointer
            transition: all 0.2s ease-in-out
            &:hover
                color: #DA5F15
            i
                color: #000
        .tab_trigger.active
            background: #1D1A34
            color: #fff
            i
                color: #DA5F15

    .account_tabs__triggers_mobile
            display: none 

    .account_tabs__tabs_container
        margin: 0 0
        flex-grow: 1

        .account_tab__content
            display: none
            .tab_header__bar
                display: flex
                flex-flow: row
                justify-content: space-between
                align-items: center
                .tab_title
                    margin: 0
                .update_details_cta
                    color: #000
                    text-decoration: none
                    cursor: pointer
                    transition: all 0.2s ease-in-out
                    &:hover
                        color: #DA5F15
        .account_tab__content.active
            display: flex
            flex-flow: column
            
        .customer_terms
            margin: 15px 0 50px
            ul
                list-style: none
                padding: 0
                margin: 0
                display: flex
                flex-flow: row
                li
                    position: relative
                    margin: 15px
                    display: flex
                    align-items: center
                    color: #000
                    font-weight: 600
                    font-size: 20px
                    padding-right: 30px
                    img
                        height: 40px
                        margin-right: 15px
                    &:before 
                        content: " "
                        background: #fff
                        width: 20px
                        height: 20px
                        position: absolute
                        right: 0
                        border: 1px solid #000
                    &:after
                        content: " "
                        background: #DA5F15
                        width: 10px
                        height: 10px
                        position: absolute
                        right: 5px
        
        .customer_account_details
            display: flex
            flex-flow: row
            margin-bottom: 20px
            .billing_address_details,
            .shipping_address_details
                min-width: 250px

        .customer_contact_details
            list-style: none
            padding: 0
            margin: 0
            display: flex
            flex-flow: row
            li
                margin: 0 15px
                .detail_title
                    font-weight: 600

        #password__tab
            .section_title 
                display: none
            hr
                margin: 30px 0
          
            .form_title
                font-size: 17px
            .update_password_form
                display: flex
                flex-flow: row nowrap
                align-items: center 
                
                #user_email_verfication
                    width: 300px
                    padding: 6px
                #update_password_form_submit
                    padding: 7px 70px
                    margin-right: 15px
                    margin-top: 0


#update_account_request_popup
    .container_body
        text-align: center
        max-width: 550px
        margin: 0 auto
        .content_title
            margin: 20px auto 40px
        #update_account_request__form
            max-width: 300px
            margin: 0 auto

            input[type=text],
            input[type=email],
            input[type=tel],
            select
                border-color: #000
                border-radius: 0
            input[type=submit]
                margin: 20px auto
                width: 100%
        
        #update_account_request__form_loader
            display: none
        #update_account_request__form_submit_success
            display: none
            text-align: center
            color: #DA5F15
        #update_account_request__form_submit_error
            display: none
            text-align: center
            color: red

.um-field
    padding-top: 0

.um-account 
    .um-account-main
        margin-right: 10%
        width: 60%
        padding-left: 0


@media screen and (max-width: 1100px)
    
    #account-page
        direction: rtl
        display: flex
        flex-flow: row
        #account__side_nav
            display: none

        .account_tabs__triggers
            display: none
        .account_tabs__triggers_mobile
            display: flex
            flex-flow: row 
            justify-content: space-between
            .tab_trigger
                flex: 1
                margin: 0 10px

@media screen and (max-width: 1000px)
    #account-page
        flex-flow: column-reverse
        .tabs_wraper
            padding-right: unset


@media screen and (max-width: 800px)
    #account-page
        #somfy_actions__side_nav
            margin: 50px auto
            .side_nav__title
                text-align: center
        .account_tabs__triggers_mobile
            display: flex
            flex-flow: row 
            justify-content: space-between
            .tab_trigger
                justify-content: center
                i
                    display: none

@media screen and (max-width: 420px)
    #account-page
        .account_tabs__tabs_container
            .customer_terms
                ul
                    flex-flow: column
            .customer_account_details
                flex-flow: column
            .customer_contact_details
                flex-flow: column
                li
                    margin: 0
                    .detail_title
                        font-weight: 600
        #password__tab
            
        .account_tabs__triggers_mobile
            display: flex
            flex-flow: column
            .tab_trigger
                height: 40px
                padding: 15px
                margin: 5px 0
