#bookkeeping_page
    .page_content__container
        .total_to_pay
            margin: 0 
            font-size: 20px
        
        #customer_balance__all_clean
            display: none
        
        #customer_balance__error
            display: none
            color: #DA5F15
        
        .customer_balance__container
            display: none
            .balance_form_instructions
                margin: 15px 0
                display: block
                font-size: 20px
            
            .divider
                margin: 30px 0
            .table_wraper
                overflow-x: scroll
            .customer_balance__table__actions
                display: flex
                flex-flow: row
                align-items: center
                justify-content: space-between
                .sorting_filter_container
                    display: flex
                    flex-flow: row
                    align-items: center
                    .title
                        margin: 0 
                        margin-left: 15px

                    .sf_btn
                        margin-top: 0
            #customer_balance__table
                background: #fff
                display: inline-table
                margin: 30px 0 0
                .thead-dark
                    background: #1D1A34
                    color: #fff
                .actions_td
                    .sf_btn
                        max-width: 100px
                        margin: 0 auto
                tbody
                    td
                        border: 1px solid #00000038
                        padding: 16px 10px 0 10px
                        line-height: 2
                        white-space: nowrap
                        .sf_btn__small
                            padding: 10px 20px
                            display: block
                            margin-top: 0
                            line-height: 1
                    th
                        .show_order_items
                            cursor: pointer
                            color: #000

                    tr.overdue,
                    tr.overdue .select_filter__option
                        color: red
                        
                    tr.due,
                    tr.due .select_filter__option
                        color: #DA5F15
                    .select_filter__option
                        color: #000
                        text-decoration: none
                        cursor: pointer
                        text-align: right
                        direction: rtl
                        cursor: pointer
                        display: flex
                        align-items: center
                        justify-content: space-between
                        padding-left: 5px

                        label
                            padding-right: 35px
            
            .load_more_updates
                font-size: 20px
                border: 3px solid
                border-radius: 50%
                line-height: 48px
                display: none
                width: 53px
                height: 53px
                text-align: center
                margin: 0 auto
                opacity: 0.5
                cursor: pointer
                margin-top: 40px
            .spin
                animation-name: example
                animation-duration: 2s 
                animation-iteration-count: infinite

            .load_more_updates.active
                display: block
            .balance_due
                margin: 40px 0
                color: #1D1A34
                font-weight: 600

                .balance_due__title
                    font-weight: 600
                    font-size: 26px
                #balance_due__val
                    font-size: 30px

            .customer_balance__actions
                #submit_customer_balance_form
                    font-size: 20px
                    font-weight: 600
                    letter-spacing: .5px
                #customer_balance_form_error
                    color: #DA5F15
                    display: none
        .content
            margin: 50px 0
            a
                white-space: nowrap


@keyframes example
    from 
        transform: rotate(0deg)
    to 
        transform: rotate(360deg)


#balance_customerDetailes_popup
    .container_body
        text-align: center
        max-width: 550px
        margin: 0 auto
        .content_title
            margin: 20px auto 40px
        #balance_customerDetailes__form
            max-width: 300px
            margin: 0 auto

            input[type=text],
            input[type=email],
            input[type=tel],
            select
                border-color: #000
                border-radius: 0
            input[type=submit]
                margin: 20px auto
                width: 100%
        
        #balance_customerDetailes__form_loader
            display: none
        #balance_customerDetailes__form_submit_success
            display: none
            text-align: center
            color: #DA5F15
        #balance_customerDetailes__form_submit_error
            display: none
            text-align: center
            color: red

        #payment_request__preview__total
            font-size: 20px
            padding: 20px 
        #payment_request__preview__table
            text-align: right
            ul
                list-style: none
                padding: 0
                margin: 0
                li
                    display: flex
                    flex-flow: row
                    padding: 5px
                    border-bottom: 1px solid rgba(0, 0, 0, .3)
                    .inv
                        min-width: 120px
                        display: inline-block
    
@media screen and (max-width: 800px)
    #bookkeeping_page
        .page_content__container
            .content
                text-align: center