#contact-page
    margin-bottom: 50px
    .thumb
        max-width: 660px
        width: 57%
        background-size: cover
        background-position: top center
        background-repeat: no-repeat
    .contact-form__container
        display: flex
        // flex-flow: row wrap
        direction: rtl
        text-align: right
        margin: 0 auto
        margin-bottom: 50px
        max-width: 1200px
        justify-content: space-between
        .contact_map 
            flex: 1
            
        .contact-form__form
            padding: 0 20px
            max-width: 500px
            width: 43%
            .form_error
                color: red
                display: none
            #pro_contact_form__loader,
            #pro_contact_form__submit_success,
            #pro_contact_form__submit_error
                display: none

            #pro_contact_form__submit_success
            #pro_contact_form__submit_error
                color: red

            form
                max-width: 100% 
                margin: 0 auto
                a, 
                .sf_btn
                    width: 100%
                    font-weight: 400
                a
                    img
                        display: inline-block
                        vertical-align: middle
                .form_row
                    padding: 0 0 31px 0
                    font-size: 16px
                    .form-select
                        height: 50px
                        border-radius: 0
                        border: 1px solid black
                        font-size: 17px
                    textarea
                        height: 140px
                        padding: 10px 10px
                    .form_label
                    .form_input
                        input, select, textarea
                            width: 100%
                    .form_actions
                        .sf_btn

                .submit_row 
                    padding-bottom: 0

    #qa_accordion
        margin-bottom: 50px
        direction: rtl
        text-align: right
        .card
            border: none
            border-radius: 0
            margin: 20px auto
            .card-header
                background: #fff
                border-radius: 0
                border: none
                padding: 0
                .btn
                    width: 100%
                    text-align: right
                    border-radius: 0
                    border-bottom: 4px solid #DA5F15
                    color: #fff
                    background: #000
                .btn.collapsed
                    border-bottom: 4px solid #DA5F15
                    color: #000
                    background: #fff



@media screen and (max-width: 1100px)
    #contact-page
        .contact-form__container
            display: flex
            flex-flow: column-reverse
            flex-wrap: wrap
            .contact_map 
                margin-top: 50px
        .thumb 
            height: 500px
            max-width: 660px
            width: 100%
            margin-bottom: 30px
    #contact-page .contact-form__container .contact-form__form
            padding: 0
            max-width: 500px
            max-width: 100%
            width: 100%

@media screen and (max-width: 575px)
    #contact-page .thumb
        height: 410px

