.page_hero
    width: 100%
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    height: 537px
    position: relative
    direction: rtl
    .hero__content
        max-width: 470px
        background: rgba(0, 0, 0, .8)
        color: #fff
        position: absolute
        bottom: 120px
        right: 20%
        padding: 20px 25px
        direction: rtl
        text-align: right
        .hero__title
            margin: 0
            font-size: 50px
        .hero__text
            font-size: 18px

.content_wrapper
    display: flex
    direction: rtl
    position: relative

.main_content
    padding-top: 190px
    margin: 0 auto
    min-height: 80vh
    max-width: 1260px
    width: 100%
    padding-bottom: 50px
    padding-right: 15px
    padding-left: 15px
.main_content.wide_container
    max-width: 1470px
.main_content__with_header
    margin-top: -60px
    padding-top: 140px
    .page_header
        position: absolute
        padding: 50px 20px
        padding-right: 200px
        text-align: right
        direction: rtl
        height: 140px
        top: 100px
        left: 0
        right: 270px
        .page_title
            font-size: 40px
            color: #fff
            font-weight: 600
    .page_content__container
            padding: 50px 20px
            padding-top: 60px
            .content
                a
                    color: #000000
.generic-content
    max-width: 1140px
    margin: 50px auto 50px auto
    direction: rtl
    
    p
        font-size: 18px 
        line-height: 30px
        letter-spacing: -0.36px
    .generic-content__cta_container
        width: 100%
        text-align: center
        .generic-content__cta
            background: #000
            display: inline-block
            color: #fff
            font-size: 18px
            padding: 10px 30px
            text-decoration: none
            margin-top: 10px
            text-align: center

    
.main_content,
.generic-content
    .section_title
        font-size: 30px
        text-align: center
        font-weight: 600
        margin: 50px auto 30px auto
        direction: rtl
        width: 100%
    .section_title.dark_title
        background: #1D1A34
        color: #ffffff
        padding: 20px 15px
        margin: 50px auto
        text-align: right
    .section_title_full
        margin: 50px 20px !important
    .section_title_mini
        max-width: 1140px
        margin: 50px auto
        font-size: 30px

.container
    .section_title
        margin: 0 0 30px 0 !important
    .section_title.dark_title
        margin: 50px 0
    .section_title_full
        margin: 50px 0 !important


    
#somfy_top_banner
    background: #000
    height: 36px
    position: fixed
    top: 0
    right: 0
    left: 0
    width: 100%
    text-align: center
    line-height: 36px
    font-size: 14px
    z-index: 9999999
    a
        color: #fff
    .somfy_top_banner__close
        position: absolute
        right: 15px
        cursor: pointer
        transition: all .2s ease-in-out
        &:hover
            color: #DA5F15
@media screen and (max-width: 1400px)
    .main_content
        padding-right: 50px

@media screen and (max-width: 1150px)
    .main_content
        padding-right: 15px
        width: 100%
    .main_content__with_header
        .page_header
            margin-right: 0
            margin-left: 0
            right: 0
@media screen and (max-width: 800px)
    .main_content__with_header
        margin-top: unset
        padding: 0
        .page_header
            padding: 50px 20px
            text-align: right
            direction: rtl
            top: 75px
            height: 200px
            .page_title
                font-size: 40px
                color: #fff
                font-weight: 600
        .page_content__container
                padding: 50px 20px
                padding-top: 60px
                .content
                    a
                        color: #000000


@media screen and (max-width: 800px)
    .main_content,
    .generic-content
        .section_title.dark_title
            text-align: center