
#home-page
    direction: rtl

    .home_content__container
        display: flex
        flex-flow: row
        justify-content: space-between
    .links__container
        margin: 15px auto    
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        padding: 0
        .loginPage_link
            height: 280px
            max-width: 370px
            margin: 5px
            position: relative
            img
                height: 100%
                width: 100%
                object-fit: cover
                object-position: center center
            .loginPage_link__title
                position: absolute
                display: block
                bottom: 0
                left: 0
                right: 0
                background: rgba(29, 26, 52, .8)
                text-align: center
                color: #fff
                font-weight: 600
                font-size: 22px
                letter-spacing: .5px
                padding: 15px


@media screen and (max-width: 950px)
    #home-page
        .links__container
            .loginPage_link
                margin: 5px auto


@media screen and (max-width: 800px)
    #home-page
        .home_content__container
            flex-flow: column

    