#login-page
    margin-top: 100px
    direction: rtl
    .um-login
        border-bottom: 1px solid #00000063
        padding-bottom: 20px
    .um-col-alt
        max-width: 285px
        margin-left: 0
        margin-right: auto
        margin-top: -20px
    .register_title
        text-align: center
        max-width: 269px
        font-size: 17px
        margin-left: auto
        margin-right: auto
    #um_field_284_username
        .um-field-area
            &::before
                content: ''
                width: 35px
                height: 50px
                display: inline-block
                background-image: url(assets/img/2021-04-12163605.jpg)
                vertical-align: bottom
                background-repeat: no-repeat
                background-position: center
                margin-left: 5.7%
        .um-form-field
            max-width: 250px
            height: 50px !important
            display: inline-block !important
            border-radius: 0 !important
    #um_field_284_user_password
        .um-field-area
            &::before
                content: ''
                width: 35px
                height: 50px
                display: inline-block
                background-image: url(assets/img/2021-04-121636051.jpg)
                vertical-align: bottom
                background-repeat: no-repeat
                background-position: center
                margin-left: 5.7%
        .um-form-field
            max-width: 250px
            height: 50px !important
            display: inline-block !important
            border-radius: 0 !important
    .login__container
        display: flex
        flex-flow: row-reverse nowrap
        max-width: 800px
        margin: 0 auto
        background: #fff
        -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        .log_form
            flex: 1
            padding: 35px 30px 55px 30px
            max-width: 400px
            .um-form
                padding: 0 0
                ._um_row_1
                    max-width: 100%
                    margin-left: 0
                    margin-right: auto

            .somfy_logo
                margin: 10px auto 20px
                display: block
            .um-field-label
                display: none
            .um-form-field
                border-color: #000 !important
            .um-field-checkbox-state
                .um-icon-android-checkbox-outline
                    color: #DA5F15
            .um-button
                border-radius: 0 !important
                background: #DA5F15
                width: 100% !important
                font-size: 18px
                cursor: pointer
                min-width: unset !important
            .um-center
                max-width: 250px

            .register_btn
                background: #fff
                border: 2px solid #DA5F15 !important
                color: #DA5F15 !important
                max-width: 250px
                margin: 0 auto 0px 35px

            .um-field-error
                background: #DA5F15 !important
                color: #000 !important
                .um-field-arrow
                    color: #DA5F15 !important
            .um-notice.err
                background: #DA5F15 !important
                color: #000 !important
            .um-toggle-gdpr
                color: #000 !important
            
        .login_graphics
            flex: 1
            img
                height: 100%
                width: 100%
                object-fit: cover
                object-position: center center   

    .loginPage_links__container
        background: #fff
        margin: 15px auto    
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        max-width: 800px
        -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        padding: 15px
        .loginPage_link
            height: 200px
            width: 48%
            margin: 5px auto
            position: relative
            img
                height: 100%
                width: 100%
                object-fit: cover
                object-position: center center
            .loginPage_link__title
                position: absolute
                display: block
                bottom: 0
                left: 0
                right: 0
                background: rgba(29, 26, 52, .8)
                text-align: center
                color: #fff
                font-weight: 600
                letter-spacing: .5px
                padding: 15px


@media screen and (max-width: 768px)
    #login-page
        .login__container
            .log_form
                max-width: 400px
                width: 100%

@media screen and (max-width: 650px)
    #login-page
        .login__container
            display: flex
            flex-flow: column nowrap
            max-width: 650px
        .login_graphics
            display: none
        .log_form
            margin: 0 auto
        .loginPage_links__container
            flex-flow: column
            justify-content: space-between
            
            max-width: 700px
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
            padding: 15px
            .loginPage_link
                height: 200px
                width: 100%


@media screen and (max-width: 420px)
    #login-page
        #um_field_284_username
            
            .um-form-field
                max-width: unset
                width: 100%
        #um_field_284_user_password
        
            .um-form-field
                max-width: unset
                width: 100%
        .um-col-alt
            max-width: unset

        .login__container
            .log_form
                .register_btn
                    max-width: unset
                .um-center
                    max-width: unset
