#news_page
  .news_updates
    margin-bottom: 127px
    margin-top: 40px
    display: block

  .load_more_updates
    font-size: 20px
    border: 3px solid
    border-radius: 50%
    line-height: 48px
    display: block
    width: 53px
    height: 53px
    text-align: center
    margin: 0 auto
    opacity: 0.5
    cursor: pointer
    margin-top: 40px
    visibility: hidden
  .loading
      animation-name: example
      animation-duration: 2s

  .load_more_updates.active
    visibility: visible
  .news_tabs
      direction: rtl
      display: flex
      align-items: center
      border-bottom: 2px solid
      .news_tab
          padding: 20px 30px
          font-size: 18px
          cursor: pointer
          transition: background-color 0.3s ease, color 0.3s ease
      .news_tab.active,
      .news_tab:hover
        background: #1D1A34
        color: white

  .studies .iconz
    font-size: 20px
  .iconz > span
    margin-bottom: 9px
    display: inline-block
  .iconz span i
    color: #DA5F15
    margin-left: 5px
  .iconz .divider
    margin: 0 10px
  .iconz span img
    display: inline-block
    margin-left: 10px
  .iconz span .clock
    width: 20px
    vertical-align: text-top
  .iconz span .mic
    width: 20px
    vertical-align: middle
  .iconz span .map_coords
    width: 23px
    vertical-align: baseline


  .studies
    .thumb
      max-height: 205px
      overflow: hidden
    .toggle-seminar-form
      background-color: #DA5F15
      color: white
      text-decoration: none
      display: block
      padding: 12px 0
      text-align: center
      width: 180px
      margin-top: 10px



  .tabs-content
    display: none
  .tabs-content.active
    display: block

  .update a,
  .studies
      display: flex
      justify-content: flex-start
      padding-bottom: 30px
      border-bottom: 1px solid #DA5F15
      padding-top: 30px
      text-decoration: none
      color: inherit
      .thumb
        max-width: 359px
        margin-left: 40px 
        width: 320px
        height: 210px
        background-size: cover
        background-position: center

        img
          max-width: 100%
          height: auto
      .update_content
        width: 72%
      .title
          font-size: 25px
          font-weight: bold
          line-height: 28px
          margin-bottom: 20px
      .content
          opacity: 0.9
          color: #000000
          font-size: 17px
          line-height: 28px
      .small_line
        display: flex
        justify-content: flex-start
        align-items: center
        opacity: 0.5
        margin-bottom: 10px
        .divider
          padding: 0 10px
          display: block
  .studies .small_line
    font-size: 14px
    line-height: 1




  .tab-posts .file_downloads
    display: flex
    justify-content: flex-start
    margin-top: 40px
    align-items: center
    margin-top: 30px
    position: relative
    direction: rtl
    align-items: center
    flex-wrap: wrap
    // min-height: 184px
    margin-bottom: 40px

    .file_download
      position: relative
      display: block
      overflow: hidden
      margin-left: 4.5%
      margin-bottom: 40px
      width: 300px
      height: 250px
      &:nth-of-type(4n)
        margin-left: 0
      .thumb
        width: 100%
        position: absolute
        height: 100%
        right: 0
        top: 0
        background-position: center
        background-size: cover
      img
        max-width: 100%
        height: auto
        display: block
        position: absolute
        top: 0
        right: 0
      .title
        font-size: 20px
        position: absolute
        background-color: #1d1a34eb
        width: 0
        right: 0
        bottom: 0
        z-index: 59
        width: 100%
        text-align: center
        color: white
        padding: 10px 0
      a
        position: absolute
        right: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 999
  
  .list_of_files
    display: none
    position: relative
    z-index: 99
    width: 100%
    height: 100%
    right: 0
    top: 0
    
    .content
      padding: 20px 20px
      margin-top: 40px
      .download_title
        text-align: center
        font-size: 22px
      a
        display: block
        padding: 0 0 10px 0
        text-decoration: none
        font-size: 20px
        color: black
        i
          margin-left: 10px

  .file_downloads
    .gal_files
      width: 300px
      height: 250px
      position: relative
      display: block
      overflow: hidden
      margin-left: 4.5%
      min-height: 184px
      margin-bottom: 40px
      &:nth-of-type(4)
        margin-left: 0
      .thumb
        width: 100%
        position: absolute
        height: 100%
        right: 0
        top: 0
        background-position: center
        background-size: cover
      img
        max-width: 100%
        height: auto
        display: block
        position: absolute
        right: 0
        top: 0
      .title
        font-size: 20px
        position: absolute
        background-color: #1d1a34eb
        width: 0
        right: 0
        bottom: 0
        z-index: 59
        width: 100%
        text-align: center
        color: white
        padding: 10px 5px
      .content
        display: none

      a
        position: absolute
        right: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 999

.studies_popup
  .container_body
    .content_title
      max-width: 370px
      margin: 20px auto 20px
      text-align: center
      .studie__title
        font-weight: 600
        font-size: 25px
    .form_istructions
      display: inline-block
      font-size: 25px
      letter-spacing: -1px


  .studies_signup
    direction: rtl
    max-width: 300px
    margin: 0 auto 20px
    input
      border: 1px solid #000000
      border-radius: 0
    select
      border: 1px solid #000000
      border-radius: 0
    input.sf_btn
      border: none
    input[type="checkbox"] + label
      font-size: 14px
      a
        color: inherit
    .content_title
      background-color: red
      span
        font-size: 25px
    input[type="checkbox"] 
      position: absolute
      left: 0
      visibility: hidden
    #submit_rgistration_request
      width: 100%
    #rgistration_request__form_loader
      display: none
    #rgistration_request__form_submit_success,
    #rgistration_request__form_submit_error
      display: none
      text-align: center
      margin: 20px 0
      font-size: 20px
    #rgistration_request__form_submit_error
      color: red
// Gallery
.popup__overlay.gal_events
  padding-top: 8vh
  .inner
    max-width: 1080px
    margin: 0 auto
  .gal_events_popup__close
    position: absolute
    left: 20px
    top: 20px
    color: #fff
    border-radius: 50%
    border: 1px solid #fff
    padding: 0 9px
    font-size: 22px
    transition: all 0.2s ease-in-out
    cursor: pointer
    &:hover
      color: #DA5F15
      border-color: #DA5F15
.gal_events_slider
  max-width: 1020px
  margin: 0 auto
  position: relative
  direction: rtl
  img
    max-height: 90vh
    max-width: 90%
    margin: 0 auto
    display: block
.gal_events_slider
  .slickleft,
  .slickright
    position: absolute
    top: 50%
    margin-top: -25px
    color: #DA5F15
    width: 50px
    z-index: 9
  .slickleft
    left: -50px
    transform: rotate(180deg)
  .slickright
    right: -50px
  .slick-track
    display: flex
    align-items: center

// File download popup
.files_download_popup 
  .popup__container
    top: 20vh
  .list_of_files
    display: block
    .files
      display: flex
      flex-flow: column
      a
        display: block
        padding: 0 0 10px 0
        font-size: 20px
        color: black
        i
          margin-left: 10px

@media all and (max-width: 1300px)
  #news_page
    .gal_events_slider
      margin: 0 50px
      max-width: 1020px
      img
        max-height: 70vh
        max-width: 70%
@media all and (max-width: 1150px)
  #news_page
    .news_updates
      margin-right: 15px
      margin-left: 15px
      margin-top: 135px
@media all and (max-width: 780px)
  #news_page
    .gal_events_slider
      margin: 0 auto
      .slickleft
        left: 10px
      .slickright
        right: 10px
    .gal_events_slider
      max-width: 1020px
      img
        max-height: 70vh
        max-width: 70%
    .tab-posts .file_downloads
      .file_download
        margin-left: 0
        width: 100%
        &:nth-of-type(2n)
          margin-left: 0
    .tab-posts .file_downloads
      .gal_files
        width: 100%
        margin-left: 0
        &:nth-of-type(2n)
          margin-left: 0
    .news_tabs
      flex-wrap: wrap
      text-align: center
      .news_tab
        width: 100%
        padding: 10px 20px
        font-size: 15px
    .update a .update_content
      width: 100%
    .update a .thumb
      background-position: center
      width: 100%
      margin-left: unset
    .studies .thumb
      min-width: 200px
      margin: 0
      margin-bottom: 30px
    .update a,
    .studies
      flex-wrap: wrap
      .iconz
        font-size: 16px
        .divider
          display: none
      .content
        min-width: 200px
    .update a .content
      font-size: 14px
      line-height: 23px
      .update_content
        min-width: 300px
        width: 100%
  #single-customer-updates_page
    .content_container
      margin-top: 150px !important

#single-customer-updates_page
  .content_container
    margin-top: 50px


@keyframes example
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}

@media all and (max-width: 450px)
  #news_page

    .tab-posts .file_downloads
      flex-flow: column

