#registration_popup
    .container_body
        text-align: center
        max-width: 550px
        margin: 0 auto
        .content_title
            margin: 20px auto 40px
        #rgistration_request__form
            max-width: 300px
            margin: 0 auto

            input[type=text],
            input[type=email],
            input[type=tel],
            select
                border-color: #000
                border-radius: 0
            input[type=submit]
                margin: 20px auto
                width: 100%
        
        #rgistration_request__form_loader
            display: none
        #form_submit_success
            display: none
            text-align: center
            color: #DA5F15
        #form_submit_error
            display: none
            text-align: center
            color: red