.rma__container
    padding: 0 20px
    max-width: 1200px
    
    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="email"]
        border-radius: 0
        border-color: #000
    
    #rma__form_container
        -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        padding: 20px
        margin: 20px 0
        display: none

        .rma_form__customer_details
            margin: 20px 0
            max-width: 800px
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(2, auto)
            gap: 30px

        .form_title,
        .rma_types__title
            font-size: 22px
        
        .rma_types__container
            display: flex
            flex-flow: row wrap
            span
                flex: 1
                min-width: 200px
                background: rgba(218, 95, 21, .3)
                margin: 10px
                padding: 20px
                font-size: 17px

        p.form_error
            font-size: 14px
            color: red
            display: none
            position: absolute

        #new_rma_item__form
            .row
                margin: 20px 0 40px
                .col
                    min-width: 120px
            .rma_options-col
                display: flex
                flex-flow: column
                align-items: flex-start
                justify-content: center
                .rma_options-label
                    margin: 0
            .rma_options
                label
                    background: #e6e6e6
                    border-radius: 0
                    border: 0
                    z-index: 1
                    color: #000
                    &:before
                        content: ''
                        position: absolute
                        top: 8px
                        left: 5px
                        width: 22px
                        height: 22px
                        background: #fff
                        border: 1px solid #000
                        z-index: -1
                label.active
                    color: #fff
                    &:before
                        content: ''
                        position: absolute
                        top: 8px
                        left: 5px
                        width: 22px
                        height: 22px
                        background: #fab31d
        
            .with_autoload
                .loader
                    top: 25px
                    left: 10px
                    .spinner-loader
                        width: 15px
                        height: 15px
            
            
            #new_rma_item__form_submit
                font-size: 16px
                transition: all 0.2s ease-in-out
                i
                    margin-left: 10px
                    padding: 5px
                    border: 1px solid #fff
                    border-radius: 50%
                &:hover
                    color: #000
        
        .added_rma_items__container
            overflow-x: auto
        .added_rma_items__container::-webkit-scrollbar 
            width: 4px
        .added_rma_items__container::-webkit-scrollbar-track 
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
        .added_rma_items__container::-webkit-scrollbar-thumb 
            -webkit-box-shadow: inset 0 0 6px #DA5F15
            box-shadow: inset 0 0 6px #DA5F15
                    
        #added_rma_items__table
            min-width: 660px
            margin: 20px 0
            .thead-dark
                background: #000
                color: #fff
            
            .added_rma_line
                .remove_rma_item
                    cursor: pointer
                    transform: rotate(45deg)
                    display: inline-block
                    border: 1px solid #000
                    border-radius: 50%
                    padding: 0 5px
                    color: #DA5F15

        .rma_istructions
            background: rgba(218, 95, 21, .3)
            margin: 20px -20px
            font-size: 18px
            padding: 20px
            line-height: 24px
            ul
                list-style: square
                li
                    padding: 5px 0
                    &::marker
                        color: #FAB31D
        
        #rma_form_submit
            padding-left: 100px
            padding-right: 100px
            &:disabled
                cursor: not-allowed
        #rma_form_submit__loader
            text-align: center
        #rma_form_submit__loader,
        #rma_form_submit__error
            display: none
     
        #rma_form_submit__error
            color: red
    #rma_form_submit__success
        display: none
        color: #DA5F15
        font-size: 20px

@media screen and (max-width: 750px)
    #rma__form_container
        .rma_form__customer_details
            grid-template-columns: repeat(2, 1fr) !important
            grid-template-rows: repeat(3, auto) !important
    .rma_actions
        text-align: center
        #rma_form_submit
            margin: 10px auto
            font-size: 16px
@media screen and (max-width: 550px)
    #rma__form_container
        .rma_form__customer_details
            grid-template-columns: repeat(1, 1fr) !important

