#customer-service_page
    .cs_content
        padding-top: 80px
    .content
        font-size: 20px
        max-width: 480px
        p
            margin-bottom: 10px
        a
            color: #DA5F15
    .link_card
        display: block
        height: 240px
        max-width: 700px
        margin: 5px auto
        position: relative

#technical-support_page
    .support_page_content
        padding-top: 50px
    .content
        font-size: 20px
        max-width: 480px
        hr
            width: 100px
            height: 9px
            background-color: black 
            opacity: 0.2
        p
            margin-bottom: 10px
        a
            color: #DA5F15
    .link_card
        display: block
        height: 360px
        max-width: 700px
        margin: 5px auto
        position: relative

#technical-support_page,
#customer-service_page
    direction: rtl
    .page_content__container_cols
        .content
            a
                color: #DA5F15
    .link_container
        max-width: 690px

        img
            height: 100%
            width: 100%
            object-fit: cover
            object-position: center center
        .link_card__title
            position: absolute
            display: block
            bottom: 0
            left: 0
            right: 0
            background: rgba(29, 26, 52, .8)
            text-align: center
            color: #fff
            font-weight: 600
            font-size: 22px
            letter-spacing: .5px
            padding: 15px

@media screen and (max-width: 1100px)
    #technical-support_page,
    #customer-service_page
        .page_content__container_cols
            display: flex
            flex-flow: column


@media screen and (max-width: 800px)
        
    #technical-support_page
        .support_page_content
            flex-wrap: wrap

    

    #technical-support_page,
    #customer-service_page
        .page_content__container_cols
            display: flex
            flex-flow: column
            gap: 30px
        .link_card
            height: 250px
            max-width: 500px
    #customer-service_page
        .cs_content
            flex-wrap: wrap
        
        .content
            font-size: 18px
            line-height: 20px
            width: 100%
            max-width: unset
            a
                color: #DA5F15
        .link_container
            margin: 20px auto

        .rma_istructions
            font-size: 17px !important
    #technical-support_page
        .content
            font-size: 18px
            line-height: 20px
            width: 100%
            max-width: unset
            a
                color: #DA5F15
        .link_container
            margin: 20px auto
