   
.with_autoload
    position: relative

    .loader
        display: none
        position: absolute
        top: 0
        left: 25px

        .spinner-loader
            width: 25px
            height: 25px

    .results_preview
        display: none
        background: #fff
        position: absolute
        -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        left: 0
        right: 0
        z-index: 999
        .product_list,
        .inv_list
            list-style: none
            padding: 0
            margin: 0
            max-height: 300px
            overflow: auto
            &::-webkit-scrollbar 
                    width: 4px
            &::-webkit-scrollbar-track 
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
            &::-webkit-scrollbar-thumb 
                -webkit-box-shadow: inset 0 0 6px #DA5F15
                box-shadow: inset 0 0 6px #DA5F15
                
            li
                a
                    display: block
                    padding: 15px
                    cursor: pointer
                    transition: all 0.2s ease-in-out
                    color: #000
                    text-decoration: none
                    .product_itemid
                        display: block
                        font-size: 14px
                        color: #707070
                        font-weight: bold
                        transition: all 0.2s ease-in-out
                    &:hover
                        background: #DA5F15
                        color: #fff
                        .product_itemid
                            color: #000