#expert_banner
    padding: 50px 20px
    text-align: right
    direction: rtl
    background: linear-gradient(-90deg, rgba(29, 26, 52, 1), rgba(29, 26, 52, .8)), url('assets/img/expert_banner.jpg')
    background-size: contain
    background-position: left center
    background-repeat: no-repeat
    .expert_banner_container
        display: flex
        flex-flow: row
        max-width: 1140px
        margin: 0 auto
        .expert_banner__content
            color: #fff
            width: 400px
            margin-left: 15px
            h3
                font-size: 40px
            p
                font-size: 18px

            .expert_banner_actions
                
                #sign_to_expert_cta
                    margin-left: 20px
                #expert_banner_loader
                    display: none
            .expert_banner__message
                color: #DA5F15
                display: none
            .expert_banner__message.error
                color: red
            
    

        
@media screen and (max-width: 1100px)
    #expert_banner
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        .expert_banner_container
            flex-flow: column
            width: 100%
            .expert_banner__content
                width: 100%
                margin: 0 auto 20px
                text-align: center
