#global_search
    display: flex
    flex-flow: column
    background: #fff
    direction: rtl
    height: 42px
    position: relative
    
    .search_input_container
        display: flex
        flex-flow: row nowrap
        align-items: flex-end
        .global_search__trigger
            cursor: pointer
            color: #000
            img
                height: 30px
        .global_search__term
            display: none
            direction: rtl
            border: none
            background: #dddddd
            padding-right: 10px
            font-size: 20px
            height: 40px
            margin-right: 15px
            width: 400px
            position: absolute
            right: 30px

            &:focus
                outline: none

    .serach-results_container 
        display: none
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
        background: #fff
        position: absolute
        top: 47px
        right: 0
        left: 0
        z-index: 9999
        padding-top: 20px
        width: 398px
        right: 46px
        #close_serach-results_container
            position: absolute
            top: 10px
            left: 10px
            font-size: 16px
            cursor: pointer
            opacity: .6
            transition: all .3s ease-in-out
            &:hover
                opacity: 1
        #no_results_msg
            text-align: center
            margin: 10px auto
            font-size: 22px
            p
                margin: 0
        #serach-results, 
        #no_results_msg
            display: none
        #global_search_loader
            .spinner-loader 
                width: 40px
                height: 40px
        .results_list
            padding: 12px 10px
            margin: 0
            list-style: none
            direction: rtl
            text-align: right
            min-width: 320px
            li
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
                margin: 12px 0
                .result_title
                    font-size: 18px
                    line-height: 20px
                    color: #000
                .result_type
                    font-size: 12px
                    color: #DA5F15
                    text-transform: uppercase
        #show_more_results
            display: inline-block
            text-align: center
            margin: 20px auto 10px
            width: 100%
            color: #000
            font-size: 18px
            text-decoration: underline

#mobile_search__container
    display: none


@media screen and (max-width: 550px)
    #global_search
        .search_input_container
            flex-flow: column
            align-items: start
            .global_search__trigger
                img
                    height: 25px
            .global_search__term
                display: none !important
        .serach-results_container
            display: none !important


@media screen and (max-width: 1100px)
    #mobile_search__container
        position: fixed
        z-index: 9999999
        height: 95vh
        background: rgba(0, 0, 0, 0.85)
        width: 100%
        .content
            display: flex
            flex-flow: column
            margin: 50px 30px 15px 15px
            .serach_input
                #mobile_search__term
                    width: 100%
                    direction: rtl
                    border: 0
                    padding: 5px 10px
                    background: #eee
        #close_mobile_search_container
            position: absolute
            top: 10px
            left: 10px
            font-size: 22px
            cursor: pointer
            opacity: .6
            transition: all .3s ease-in-out
            color: #DA5F15
            &:hover
                opacity: 1
        
        .mobile_serach-results_container
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
            background: #fff
            margin-top: 20px
            // min-height: 70vh
            
            #no_results_msg
                text-align: center
                margin: 10px auto
                font-size: 22px
                p
                    margin: 0
            #mobile_serach-results, #mobile_no_results_msg, #mobile_global_search_loader
                display: none
            #mobile_no_results_msg
                text-align: center
                margin-top: 20px
            #mobile_global_search_loader
                margin-top: 50px
                .spinner-loader 
                    width: 60px
                    height: 60px
            .results_list
                padding: 12px 10px
                margin: 0
                list-style: none
                direction: rtl
                text-align: right
                min-width: 320px
                li
                    display: flex
                    flex-flow: row nowrap
                    align-items: center
                    justify-content: space-between
                    margin: 12px 0
                    .result_title
                        font-size: 18px
                        line-height: 20px
                        color: #000
                    .result_type
                        font-size: 12px
                        color: #DA5F15
                        text-transform: uppercase
            #mobile_show_more_results
                display: inline-block
                text-align: center
                margin: 20px auto 10px
                width: 100%
                color: #000
                font-size: 18px
                text-decoration: underline