.popup__overlay
    display: none
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.8)
    z-index: 9999999
    overflow: scroll

    
    .popup__container
        background: #fff
        position: absolute
        top: 10vh
        width: 600px
        margin: 0 10px
        left: calc(50% - 310px)
        direction: rtl
        text-align: right
        margin-bottom: 50px

        .popup__overlay__close
            position: absolute
            top: 11px
            left: 15px
            font-size: 20px
            color: #fff
            cursor: pointer
            border: 1px solid #fff
            border-radius: 50%
            width: 30px
            height: 30px
            line-height: 28px
            text-align: center
            transition: all 0.2s ease-in-out
            &:hover
                color: #000
                border: 1px solid #000
        .container_header
            position: relative
            h2
                padding: 10px
                padding-left: 50px
                background: #DA5F15
                font-weight: 600
                color: #fff
            p
                padding: 10px
                text-align: center
                font-size: 20px
        .container_body
            padding: 10px

@media screen and (max-width: 800px)
    .popup__overlay
        .popup__container
            position: static
            width: 90%
            margin: 50px auto 0