
// slide__cta
.sf_btn
    display: block
    background: #fab31d
    color: #000
    font-size: 18px
    padding: 10px 60px
    text-decoration: none
    margin-top: 10px
    text-align: center
    transition: all .2s ease-in-out
    border: none
    cursor: pointer
    &:hover
        text-decoration: none
        color: #fff
.sf_btn__big
    font-size: 20px !important
    font-weight: 600
    padding: 12px 70px
.sf_btn__small
    font-size: 14px
    padding: 3px 20px
.sf_btn-inline
    display: inline-block

.sf_btn-light
    background: #fff !important
    border: 1px solid #000
    color: #000
    &:hover
        color: #fab31d

.sf_btn-dark
    background: #000 !important
    color: #fab31d
    &:hover
        color: #fff
.add_to_cart__cta
    background: #fab31d
    direction: rtl
    border: none
    display: grid
    grid-template-columns: repeat(2, auto)
    align-items: center
    cursor: pointer
    font-size: 14px
    font-weight: 600
    padding: 8px 12px
    img
        height: 20px
        margin-left: 5px

.add_to_cart__cta_big
    padding: 10px 25px !important
    img
        height: 25px !important
        margin-left: 10px !important

.add_to_cart__cta:disabled
    cursor: not-allowed

.add_to_cart__cta_small
    width: 125px !important
    padding: 8px 12px !important
    font-size: 14px !important
    img
        height: 20px !important
        margin-left: 5px !important

.get_stock_reminder
    direction: rtl
    background: #7f7f7f
    color: #fff
    border: none
    padding: 10px
    cursor: pointer
    font-size: 14px
    font-weight: 400

.get_stock_reminder_small
    padding: 7px
    font-size: 12px

.um.um-password.um-um_password_id
    .um-button
        display: block !important
        background: #fab31d !important
        color: #000 !important
        font-size: 18px !important
        padding: 15px 60px !important
        text-decoration: none !important
        margin: 10px auto !important
        border-radius: 0  !important
        text-align: center !important
        transition: all .2s ease-in-out !important
        border: none !important
        cursor: pointer !important
        &:hover
            text-decoration: none !important
            color: #fff !important

.cookie-notice-container
    direction: rtl
    .cn-text-container
        margin-left: 15px
.cookie_sf_btn
    display: block
    background: #DA5F15
    color: #fff
    font-size: 18px
    padding: 3px 10px !important
    text-decoration: none
    margin-top: 10px
    text-align: center
    transition: all .2s ease-in-out
    border: none
    cursor: pointer
    &:hover
        text-decoration: none
        color: #1D1A34