.form-floating--rtl>label
    left: auto
    right: 0
    
.form-floating--rtl>.form-control:focus~label, 
.form-floating--rtl>.form-control:not(:placeholder-shown)~label
    transform: scale(.85) translateY(-.5rem) translateX(35px) !important

.form-input__group>.form_error,
.form_user_check>.form_error
    color: red
    font-size: 14px
    padding-top: 5px
    display: none


input[type="checkbox"] + label::after ,
input[type="radio"] + label::after 
    content: ''
    position: absolute
    width: 0px
    height: 0px
    background: #fab31d
    top: 10px
    right: 6px
    transition: all .1s ease-in-out

input[type="checkbox"]:checked + label::after ,
input[type="radio"]:checked + label::after 
    content: ''
    position: absolute
    width: 15px
    height: 15px
    background: #fab31d
    top: 5px
    right: 5px

input[type="radio"] + label::after 
    top: 10px
    border-radius: 50%
input[type="radio"]:checked + label::after 

input[type="checkbox"] ,
input[type="radio"] 
    line-height: 2.1ex


input[type="radio"],
input[type="checkbox"] 
    position: absolute
    left: -999em


input[type="checkbox"] + label ,
input[type="radio"] + label 
    position: relative
    overflow: hidden
    cursor: pointer
    padding-right: 40px
    padding-bottom: 2px
    height: 30px

input[type="checkbox"] + label::before ,
input[type="radio"] + label::before 
    content: ""
    display: inline-block
    vertical-align: -25%
    height: 25px
    width: 25px
    background-color: white
    border: 1px solid #000
    position: absolute
    top: 0
    right: 0
input[type="radio"] + label::before 
    border-radius: 50%

