.flex__cont
    display: flex

.flex__wrap
    flex-wrap: wrap

.flex__al_c
    align-items: center

.flex__sp_btwn
    justify-content: space-between

.is_mobile
    display: none
.is_desktop
    display: block
 


@media screen and (max-width: 1200px)
    .is_mobile
        display: block
    .is_desktop
        display: none