@font-face {
    font-family: 'Metro';
    font-style: bold;
    font-weight: 700;
    src: url('assets/fonts/fbmetropolitana-boldwebfont.ttf')
  }

@font-face {
    font-family: 'Metro';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/fbmetropolitana-regularwebfont.ttf')
  }

@font-face {
    font-family: 'SomfySans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/SomfySans-Regular.ttf');
    unicode-range: U+00-FF;
  }


@font-face {
    font-family: 'SomfySans';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/SomfySans-Medium.ttf');
    unicode-range: U+00-FF;
  }

@font-face {
    font-family: 'SomfySans';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/SomfySans-Bold.ttf');
    unicode-range: U+00-FF;
  }


@font-face {
    font-family: 'SomfySans';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/SomfySans-ExtraLight.ttf');
    unicode-range: U+00-FF;
  }