   
.range_slider 
	position: relative
	height: 4px
	text-align: left
	margin: 45px 0 10px 0
	direction: ltr
  
.range_slider > div 
    position: absolute
    left: 0
    right: 0
    height: 4px
  
  
.range_slider > div > .inverse-left 
    position: absolute
    left: 0
    height: 4px
    background-color: #CCC
    margin: 0
  
  
.range_slider > div > .inverse-right 
    position: absolute
    right: 0
    height: 4px
    border-radius: 10px
    background-color: #CCC
    margin: 0
  
  
.range_slider > div > .range 
    position: absolute
    left: 0
    height: 4px
    border-radius: 14px
    background-color: #DA5F15
  
  
.range_slider > div > .thumb 
    position: absolute
    top: -3px
    z-index: 2
    height: 10px
    width: 10px
    text-align: left
    margin-left: -11px
    background-color: #DA5F15
    border-radius: 50%
    outline: none
  
  
.range_slider > input[type=range] 
    cursor: pointer
    position: absolute
    pointer-events: none
    -webkit-appearance: none
    z-index: 3
    height: 4px
    top: -2px
    width: 100%
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    filter: alpha(opacity=0)
    -moz-opacity: 0
    -khtml-opacity: 0
    opacity: 0
  
  
div.range_slider > input[type=range]::-ms-track 
    -webkit-appearance: none
    background: transparent
    color: transparent
  
  
div.range_slider > input[type=range]::-moz-range-track 
    -moz-appearance: none
    background: transparent
    color: transparent
  
  
div.range_slider > input[type=range]:focus::-webkit-slider-runnable-track 
    background: transparent
    border: transparent
  
  
div.range_slider > input[type=range]:focus 
    outline: none
  
  
div.range_slider > input[type=range]::-ms-thumb 
    pointer-events: all
    width: 28px
    height: 28px
    border-radius: 0px
    border: 0 none
    background: red
  
  
div.range_slider > input[type=range]::-moz-range-thumb 
    pointer-events: all
    width: 28px
    height: 28px
    border-radius: 0px
    border: 0 none
    background: red
  
  
div.range_slider > input[type=range]::-webkit-slider-thumb 
    pointer-events: all
    width: 28px
    height: 28px
    border-radius: 0px
    border: 0 none
    background: red
    -webkit-appearance: none
  
  
div.range_slider > input[type=range]::-ms-fill-lower 
    background: transparent
    border: 0 none
  
  
div.range_slider > input[type=range]::-ms-fill-upper 
    background: transparent
    border: 0 none
  
  
div.range_slider > input[type=range]::-ms-tooltip 
    display: none
  
  
.range_slider > div > .sign 
	position: absolute
	margin-left: -24px
	top: -30px
	z-index: 3
	background-color: #000
	color: #fff
	line-height: 20px
	width: 40px
	height: 20px
	align-items: center
	-webkit-justify-content: center
	justify-content: center
	text-align: center
  

  
.range_slider > div > .sign > span 
    font-size: 13px
    font-weight: 400
    line-height: 12px
  
  
.range_slider:hover > div > .sign 
    opacity: 1
  


.single-range-wrap
    margin-top: 20px
    input[type=range] 
        -webkit-appearance: none
        margin: 20px 0
        width: 100%

    input[type=range]:focus 
        outline: none

    input[type=range]::-webkit-slider-runnable-track 
        width: 100%
        height: 4px
        cursor: pointer
        animate: 0.2s
        background: #cccc

    input[type=range]::-webkit-slider-thumb 
        height: 10px
        width: 10px
        border-radius: 50%
        background: #DA5F15
        cursor: pointer
        -webkit-appearance: none
        margin-top: -3px

    input[type=range]:focus::-webkit-slider-runnable-track 
        background: #cccc

    .range-wrap
        width: 500px
        position: relative

    .range-value
        position: absolute
        top: -28px

    .range-value>span
        width: 30px
        height: 20px
        text-align: center
        background: #000
        color: #fff
        display: block
        position: absolute
        left: 50%
        font-size: 13px
        font-weight: 400
        line-height: 20px
        transform: translate(-50%, 0)
