#add_warranty_popup
    .popup__container
        display: flex
        flex-flow: row
        align-items: center
        .add_warranty_input_container
            padding: 15px
            min-width: 150px
            border-left: 1px solid #000
            .warrany_price
                text-align: center
                font-size: 40px
                color: #fab31d
                font-weight: 600
                margin: 0
                .currency_symbol
                    font-size: 26px
            .warranty_input_group


        .warranty_desc
            display: flex
            flex-flow: row wrap
            align-items: center
            width: fit-content
            padding: 15px
            .warranty_thumb
                width: 25%
                img
                    width: 100%
            .desc
                width: 75%
                padding-right: 15px
                .add-warranty__title
                    font-size: 26px
                    margin: 0
                .add-warranty__text
                    margin: 0
                    
            .warranty_cta
                width: 100%
                display: flex
                align-items: center
                flex-flow: row
                justify-content: space-between
                .product_cta-amount
                    display: flex
                    flex-flow: row
                    align-items: center
                    width: 150px
                    label
                        margin-left: 10px
                #add_warranty__submit
        .popup__overlay__close
            color: #000
            border: 1px solid #000
            width: 25px
            height: 25px
            font-size: 16px
            line-height: 25px
            &:hover
                color: #fab31d
                border: 1px solid #fab31d
