.cart_page
    direction: rtl
    text-align: right

    .cart_page_container
        display: flex
        flex-flow: row
        
        .coupon_input__container
            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            margin-left: 20px
            img
                object-fit: cover
                object-position: center center
            .form-floating,
            .submit_coupon
                margin: 30px
            .form-floating
                input
                    text-align: right
            .submit_coupon
                margin-top: -10px


        .cart_result__container
            flex-grow: 1
            .not_cart_items
                display: none
                font-size: 24px
                padding: 15px
                text-align: center
            
            
            .cart_items__container
                padding: 0 15px
                max-height: 55vh
                &::-webkit-scrollbar 
                    width: 4px
                &::-webkit-scrollbar-track 
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                &::-webkit-scrollbar-thumb 
                    -webkit-box-shadow: inset 0 0 6px rgba(250,179,29,1)
                    box-shadow: inset 0 0 6px rgba(250,179,29,1)
                .item_titles
                    width: 60%
                .item_amount
                    width: 140px
                .item_prices
                    width: 32%
                    text-align: left

                .cart_item_box
                    display: flex
                    flex-flow: column
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    margin: 10px 0

                    .kid_cart_item_box
                        background: #fef0d2
                        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                        margin: 15px !important
                    .parent_cart_item_box,
                        border-bottom: 1px solid #000
                        border-top: 1px solid #000
                        &:first-child
                            border-bottom: none
                    .parent_cart_item_box,
                    .kid_cart_item_box,
                        padding: 15px 0
                        display: flex
                        flex-flow: row nowrap
                        margin: 0
                        

                        .item_tumbnail
                            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                            margin-right: 15px
                            img
                                object-fit: cover
                                object-position: center center
                                height: 120px
                                width: 120px
                        .item_info
                            position: relative
                            flex-grow: 1
                            display: flex
                            flex-flow: row
                            justify-content: flex-start
                            align-items: center
                            padding: 15px
                            padding-bottom: 5px
                            .item_titles
                                .item_title
                                    font-size: 24px
                                    color: #000
                                    text-decoration: none
                                    display: block
                                .item_itemid
                                    font-size: 18px
                                    color: #7f7f7f
                                    font-weight: 600
                                    text-decoration: none
                                    display: block
                            .item_amount   
                                display: flex
                                flex-flow: row nowrap
                                align-items: center
                                position: relative
                                label
                                    font-size: 16px
                                .form-control
                                    max-width: 80px
                                    margin: 0 10px
                                    &::-webkit-outer-spin-button,
                                    &::-webkit-inner-spin-button
                                        -webkit-appearance: none
                                        margin: 0

                                    /* Firefox */
                                input[type=number] 
                                    -moz-appearance: textfield
                                
                                .loader
                                    display: none
                                    position: absolute
                                    left: 0
                                    .spinner-loader
                                        width: 15px
                                        height: 15px
                            .item_prices
                                font-weight: 600
                                .base_price
                                    font-size: 40px
                                .discount_price
                                    font-size: 40px
                                    position: relative
                                    .old_price
                                        color: gray
                                        position: absolute
                                        font-size: 24px
                                        top: -22px
                                        right: 0
                                        &::after
                                            content: ""
                                            width: 100%
                                            height: 2px
                                            background: #000
                                            position: absolute
                                            top: 50%
                                            left: 0
                                            transform: rotate(15deg)
                                            opacity: .5
                                        .currency_symbol
                                            font-size: 16px    
                                .currency_symbol
                                    font-size: 30px
                                    font-weight: 400
                            
                            .remove_cart_item
                                color: #7f7f7f
                                position: absolute
                                bottom: 0px
                                left: 15px
                                font-size: 18px
                                line-height: 18px
                                cursor: pointer

    
    .cart_summery
        padding: 15px
        font-size: 16px
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        .summaries
            min-width: 300px
            .divider
                opacity: 1
            .sub_summery,
            .discount_summery,
            .total_summery
                margin: 10px 0
            .total_summery
                font-size: 18px
                font-weight: 600
        .go_to_checkout
            background: #fab31d
            font-size: 16px
            align-self: start
        .val
            float: left

@media screen and (max-width: 800px)
    .cart_page
        .cart_page_container
            .cart_result__container
                flex-grow: 1
                
                .cart_items__container
                    .cart_item_box
                        
                        .parent_cart_item_box,
                        .kid_cart_item_box,
                            position: relative

                            .item_tumbnail
                                height: 80px
                                width: 80px
                                position: absolute
                                right: 0
                                top: 15px
                                img
                                    height: 80px
                                    width: 80px
                            .item_info
                                flex-flow: row wrap
                                .item_titles
                                    margin-right: 100px
                                    min-height: 80px
                                    flex-grow: 1
                                    .item_title
                                        font-size: 18px
                                    .item_itemid
                                        font-size: 16px !important
                                .item_amount   
                                    width: 50%
                                    
                                .item_prices
                                    width: 50%
                                    .base_price
                                        font-size: 30px
                                    .discount_price
                                        font-size: 30px
                                        .old_price
                                            font-size: 20px
                                            .currency_symbol
                                                font-size: 14px    
                                    .currency_symbol
                                        font-size: 20px
                                
                                .remove_cart_item
                                    bottom: unset
                                    top: 0px
                                    font-size: 14px

  

@media screen and (max-width: 1200px)
    .cart_page
        .cart_page_container
            display: flex
            flex-flow: column
            .coupon_input__container
                margin-left: auto
                margin: 0 auto 20px auto
                width: 350px
                img
                    width: 100%
                    height: 200px

                .form-floating,
                .submit_coupon
                    margin: 30px
                .submit_coupon
                    margin-top: -10px

            .cart_result__container
                .cart_items__container
                    .cart_item_box
                        align-items: center
                        .item_tumbnail
                            height: 100px
                            img
                                height: 100px
                                width: 100px
                        .item_info
                            position: relative
                            flex-grow: 1
                            display: flex
                            flex-flow: row wrap
                            .item_titles
                                .item_title
                                    font-size: 18px
                                    color: #000
                                    text-decoration: none
                                    flex-grow: 1
                                .item_itemid
                            .item_amount   
                            .item_prices
                                .base_price
                                    font-size: 30px
                                .discount_price
                                    font-size: 30px
                                    .old_price
                                        position: relative
                                        top: 0
                                        font-size: 20px
                                        
                                .currency_symbol
                                    font-size: 20px
                            
                            .remove_cart_item
                                color: #7f7f7f
                                position: absolute
                                bottom: -20px
                                left: 10px
                                top: auto
                                font-size: 16px
                                cursor: pointer
        .cart_summery
            flex-flow: column
            .go_to_checkout
                background: #fab31d
                font-size: 16px
                align-self: center
        
@media screen and (max-width: 1400px)
    .cart_page
        .cart_page_container
            .cart_result__container
                .cart_items__container
                    .cart_item_box
                        .item_info
                            .remove_cart_item
                                bottom: -5px