#cart__trigger
    position: relative
#cart__trigger.with-items
    &:after
        content: ''
        position: absolute
        top: -5px !important
        right: -10px !important
        background: #fab31d
        border-radius: 50%
        width: 15px
        height: 15px
#cart__trigger.with-items.active
    &:after
        background: #000000

#cart__trigger.active
    position: relative
    background: none !important
    &:before
        content: ''
        position: absolute
        right: -10px !important
        top: -10px !important
        z-index: -1
        background: #fab31d
        border-radius: 50%
        width: 55px
        height: 55px
        text-align: center
        padding-top: 3px

#cart_popup__container
    display: none
    background: #fff
    position: absolute
    top: 60px
    right: 50%
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
    width: 420px
    z-index: 99999
    direction: rtl
    text-align: right
    margin-right: -240px
    .popup-header
        background: #fab31d
        padding: 15px
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        .header-title
            color: #fff
            margin: 0
            font-size: 20px
            font-weight: 600
            letter-spacing: .5px
        .cart_popup__close
            border: 1px solid #fff
            border-radius: 50%
            height: 30px
            width: 30px
            text-align: center
            color: #fff
            font-size: 20px
            line-height: 30px
            cursor: pointer
            transition: all .2s ease-in-out
            &:hover
                color: #000
                border: 1px solid #000

    .cart_summery
        padding: 15px 35px 35px 35px
        font-size: 16px
        .divider
            opacity: 1
        .sub_summery,
        .discount_summery,
        .total_summery
            margin: 10px 0
        .total_summery
            font-size: 18px
            font-weight: 600
        .go_to_checkout
            background: #fab31d
            font-size: 16px
        .val
            float: left
    .not_cart_items
        display: none
        font-size: 24px
        padding: 15px
        text-align: center
    .cart_items__container
        padding: 15px 35px 15px 35px
        max-height: 45vh
        overflow: auto
        &::-webkit-scrollbar 
            width: 4px
        &::-webkit-scrollbar-track 
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
        &::-webkit-scrollbar-thumb 
            -webkit-box-shadow: inset 0 0 6px rgba(250,179,29,1)
            box-shadow: inset 0 0 6px rgba(250,179,29,1)
        .cart_item_box
            display: flex
            flex-flow: column
            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            margin: 10px 0
            border: 1px solid #4e4e4e80

            .parent_cart_item_box,
            .kid_cart_item_box,
                display: flex
                flex-flow: row nowrap
                margin: 10px 0
                .item_tumbnail
                    display: flex
                    align-items: center
                    img
                        object-fit: cover
                        object-position: center center
                        height: 120px
                        width: 120px
                .item_info
                    position: relative
                    flex-grow: 1
                    display: flex
                    flex-flow: column
                    padding: 15px
                    padding-bottom: 5px
                    .item_titles
                        .item_title
                            font-size: 18px
                            color: #000
                            text-decoration: none
                            flex-grow: 1
                        .item_itemid
                            display: none
                    .item_amount   
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        position: relative
                        label
                            font-size: 16px
                        .form-control
                            max-width: 80px
                            margin: 0 10px
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button
                                -webkit-appearance: none
                                margin: 0

                            /* Firefox */
                        input[type=number] 
                            -moz-appearance: textfield
                        
                        .loader
                            display: none
                            position: absolute
                            left: 0
                            .spinner-loader
                                width: 15px
                                height: 15px
                    .item_prices
                        font-weight: 600
                        .base_price
                            font-size: 30px
                        .discount_price
                            font-size: 30px
                            .old_price
                                color: gray
                                position: relative
                                font-size: 20px
                                &::after
                                    content: ""
                                    width: 100%
                                    height: 2px
                                    background: #000
                                    position: absolute
                                    top: 50%
                                    left: 0
                                    opacity: .5
                                .currency_symbol
                                    font-size: 16px    
                        .currency_symbol
                            font-size: 20px
                            font-weight: 400
                    
                    .remove_cart_item
                        color: #7f7f7f
                        position: absolute
                        bottom: 5px
                        left: 10px
                        font-size: 16px
                        cursor: pointer
            .kid_cart_item_box
                background: #fef0d2
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                margin: 15px !important
                .item_tumbnail
                    margin-right: 10px
                    max-width: 120px
                    img
                        height: unset
                        object-fit: unset
                        width: 100%
#add_to_cart__popup
    .container_header
        padding-bottom: 20px
        h2
            margin-bottom: 30px
        .add_to_cart__success
            display: none
        .max_amount_reached
            // display: none
            text-align: center
            .sf_btn
                margin: 10px auto


@media screen and (max-width: 1500px)
    #cart_popup__container
        right: 0
        margin-right: 0


@media screen and (max-width: 550px)
    #cart__trigger.with-items
        &:after
            top: -5px !important
            right: 5px !important
            width: 12px
            height: 12px

    #cart__trigger.active
        &:before
            right: -3px
            top: 1px
            width: 45px
            height: 45px
            padding-top: 3px
        img
            height: 25px
    
    #cart_popup__container
        position: fixed
        top: 90px
        right: 0
        left: 0
        bottom: 0
        width: 100%
        overflow: auto
        .cart_items__container

            .cart_item_box
                .item_tumbnail
                    img
                        object-fit: cover
                        object-position: center center
                        height: 100px
                        width: 100px
    #cart__trigger.active
        position: relative
        background: none !important
        &:before
            content: ''
            position: absolute
            right: -5px !important
            top: -15px !important
            z-index: -1
            background: #fab31d
            border-radius: 50%
            width: 55px
            height: 55px
            text-align: center
            padding-top: 3px