.checkout_page
    direction: rtl

    .order_submition_loader_container__overlay
        display: none
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0, 0, 0, 0.7)
        z-index: 9999999
        .order_submition_loader__container
            background: #fff
            max-width: 320px
            margin: 100px auto
            text-align: center
            padding-bottom: 15px
            h4
                padding: 15px
                background: #fab31d
                margin-bottom: 20px
            #order_submition__payment_recived
                display: none
            .order_submition_loader__actions
                display: flex
                flex-flow: row
                justify-content: center
                .sf_btn
                    margin: 0 5px
                    padding: 
                #order_submition_loader__container__close
                    border: 1px solid #000
                    color: #000
                    background: #fff
    .checkout_page_container
        display: flex
        flex-flow: row nowrap
        
        // checkout_form__container
        .checkout_form__container
            flex-grow: 1
            max-width: 700px
            margin: 0 auto
            background: #fafafa
            .checkout_tabs__triggers
                display: flex
                flex-flow: row nowrap
                .tab_trig
                    flex: 1
                    background: #c6c6c6
                    text-align: center
                    color: #858585
                    text-decoration: none
                    cursor: pointer
                    padding: 15px
                    font-size: 20px
                    font-weight: 400
                .tab_trig.active
                    display: block
                    background: #fafafa
                    color: #000
                    font-weight: 600


            .checkout_tabs__content
                .tab_content
                    display: none
                .tab_content.active
                    display: block

    
                #checkout_delivery_tab
                    .delivery_options__title
                        font-weight: 600
                        margin-right: 15px
                    .delivery_options__container
                        display: flex
                        flex-flow: row nowrap
                        margin-bottom: 20px
                        border-bottom: 1px solid #000
                        border-top: 1px solid #000
                        padding: 15px
                        margin-top: 15px
                        .delivery_option
                            display: flex
                            flex-flow: row nowrap
                            align-items: center
                            min-width: 200px
                            font-size: 20px
                            font-weight: 500
                            cursor: pointer
                            text-decoration: none
                            color: #000
                            label
                                line-height: 24px
                                &::after
                                    border-radius: 0
                                &::before
                                    border-radius: 0
                                
                            .check-box
                                display: inline-block
                                margin-left: 10px
                                width: 25px
                                height: 25px
                                background: #fff
                                border: 1px solid #000
                                position: relative
                        .delivery_option.active
                            .check-box
                                &:after
                                    content: ''
                                    position: absolute
                                    top: 6px
                                    right: 6px
                                    width: 12px
                                    height: 12px
                                    background: #fab31d
                    
                    .delivery_option__subtab
                        display: none
                    #delivery_subtab__delivery
                        display: block
                    #delivery_subtab__pickup
                        position: relative
                        img
                            width: 100%
                            max-height: 350px
                            object-fit: cover
                            object-position: center center
                        .pickup_details
                            position: absolute
                            top: 73px
                            right: 50%
                            text-align: center
                            width: 320px
                            font-size: 14px
                            margin-right: -171px
                            &:after
                                content: ''
                                background: #fab31d
                                position: absolute
                                bottom: -7px
                                width: 15px
                                height: 15px
                                transform: rotate(45deg)

                            .top_part
                                background: #fff
                                color: #000
                                padding: 15px
                                h5.title
                                    margin: 0
                                p
                                    margin: 0
                            .bottom_part
                                background: #fab31d
                                color: #fff
                                padding: 15px 40px
                                p
                                    margin: 0
                                a
                                    color: #fff
                                    font-weight: 600
                                    text-decoration: none
                    .toggle__other_delivery_details_form
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        min-width: 200px
                        font-size: 20px
                        font-weight: 500
                        cursor: pointer
                        text-decoration: none
                        color: #000
                        background: #e9e9e9
                        padding: 15px
                        .check-box
                            background: #fff
                            display: inline-block
                            margin-left: 10px
                            width: 25px
                            height: 25px
                            border: 1px solid #000
                            position: relative

                #delivery_details_form,
                #other_delivery_details_form
                    padding: 15px
                    display: block
                    .form_title
                        font-weight: 600
                        margin-bottom: 10px

                #other_delivery_details_form
                    background: #e9e9e9
                    display: none
                    padding: 15px
                #other_delivery_details_form.active
                    display: block

                .register_user
                    background: #faecce
                    padding: 15px
                    color: #9f9682
                    margin: 10px 0
                    .divider
                        background: #000
                    .register_user_from_checkout
                        color: #000
                        cursor: pointer
                .checkout_form_cta
                    margin: 15px 15px 20px

                #checkout_payment_tab
                    .payment_cta
                        display: flex
                        flex-flow: row
                        align-items: center
                        justify-content: center
                        padding: 0 15px
                        .sf_btn
                            flex: 1
                            margin: 0 5px
                    .payment_options__container
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        .payment_option
                            margin: 15px
                            label
                                img
                                    height: 100%
                    #paypal-button-container
                        padding: 15px
        // cart_preview__container
        .cart_preview__container
            background: #fff
            width: 420px
            z-index: 99
            direction: rtl
            text-align: right
            margin-right: 20px
            .preview-header
                background: #000
                padding: 15px
                display: flex
                flex-flow: row nowrap
                justify-content: space-between
                align-items: center
                .header-title
                    color: #fff
                    margin: 0
                    font-size: 20px
                    font-weight: 600
                    letter-spacing: .5px
                .cart_popup__close
                    border: 1px solid #fff
                    border-radius: 50%
                    height: 30px
                    width: 30px
                    text-align: center
                    color: #fff
                    font-size: 20px
                    line-height: 35px
                    cursor: pointer
                    transition: all .2s ease-in-out
                    &:hover
                        color: #000
                        border: 1px solid #000

            .cart_summery
                padding: 15px 25px 15px 25px
                font-size: 16px
                .divider
                    opacity: 1
                .sub_summery,
                .discount_summery,
                .total_summery
                    margin: 10px 0
                .total_summery
                    font-size: 18px
                    font-weight: 600
                .go_to_checkout
                    background: #fab31d
                    font-size: 16px
                .val
                    float: left
            .not_cart_items
                display: none
                font-size: 24px
                padding: 15px
                text-align: center
            .cart_items__container
                padding: 15px
                max-height: 55vh
                overflow: auto
                &::-webkit-scrollbar 
                    width: 4px
                &::-webkit-scrollbar-track 
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
                &::-webkit-scrollbar-thumb 
                    -webkit-box-shadow: inset 0 0 6px rgba(250,179,29,1)
                    box-shadow: inset 0 0 6px rgba(250,179,29,1)
                .cart_item_box
                    display: flex
                    flex-flow: column
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    margin: 10px 0
                    
                    .parent_cart_item_box
                        // margin-top: 0 !important
                        align-items: center
                    
                    .parent_cart_item_box,
                    .kid_cart_item_box,
                        display: flex
                        flex-flow: row nowrap
                        margin: 10px 0
                        .item_tumbnail
                            img
                                object-fit: cover
                                object-position: center center
                                height: 120px
                                width: 120px
                        .item_info
                            position: relative
                            flex-grow: 1
                            display: flex
                            flex-flow: column
                            padding: 15px
                            padding-bottom: 5px
                            .item_titles
                                .item_title
                                    font-size: 18px
                                    color: #000
                                    text-decoration: none
                                    flex-grow: 1
                                    line-height: 23px
                                    font-weight: 600
                                    margin-bottom: 10px
                                    display: block
                                .item_itemid
                                    display: none
                            .item_amount   
                                display: flex
                                flex-flow: row nowrap
                                align-items: center
                                position: relative
                                label
                                    font-size: 16px
                                .form-control
                                    max-width: 80px
                                    margin: 0 10px
                                    &::-webkit-outer-spin-button,
                                    &::-webkit-inner-spin-button
                                        -webkit-appearance: none
                                        margin: 0

                                    /* Firefox */
                                input[type=number] 
                                    -moz-appearance: textfield
                                
                                .loader
                                    display: none
                                    position: absolute
                                    left: 0
                                    .spinner-loader
                                        width: 15px
                                        height: 15px
                            .item_prices
                                font-weight: 600
                                .base_price
                                    font-size: 30px
                                .discount_price
                                    font-size: 30px
                                    .old_price
                                        color: gray
                                        position: relative
                                        font-size: 20px
                                        &::after
                                            content: ""
                                            width: 100%
                                            height: 2px
                                            background: #000
                                            position: absolute
                                            top: 50%
                                            left: 0
                                            opacity: .5
                                        .currency_symbol
                                            font-size: 16px    
                                .currency_symbol
                                    font-size: 20px
                                    font-weight: 400
                            
                            .remove_cart_item
                                color: #7f7f7f
                                position: absolute
                                bottom: 5px
                                left: 10px
                                font-size: 16px
                                cursor: pointer
                                position: relative
                                margin-left: 0
                                margin-right: auto
                                margin-top: -24px

                    .kid_cart_item_box
                        background: #fef0d2
                        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                        margin: 15px !important
                        .item_tumbnail
                            width: 120px
                            margin-right: 10px
                            img
                                object-fit: contain
                                object-position: center center
                                height: 120px
                                width: 100%
#card_iframe_popup
    .popup__container
        height: 70vh
    .container_header
        height: 100%
        h2
            margin: 0
        iframe
            width: 100%
            height: 100%
    
@media screen and (max-width: 800px)
    #checkout_payment_tab
        .payment_cta
            flex-flow: column !important
            align-items: unset !important
            justify-content: unset !important
            padding: 0 15px
            .sf_btn
                margin: 5px !important
    
    .checkout_page
        .checkout_page_container
            .checkout_form__container
                width: 100%

    #checkout_payment_tab
        .payment_options__container
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: center
            margin-top: 10px
            .payment_option
                margin: 15px
                label
                    img
                        height: 100%
@media screen and (max-width: 1000px)
    .checkout_page
        direction: rtl
        .checkout_page_container
            flex-flow: column
            align-items: center
            #checkout_delivery_tab
                .delivery_options__container
                    .delivery_option
                        min-width: 120px !important
            .cart_preview__container
                margin-top: 20px
                margin-right: 0
                background: #fff
                width: 100%
