.order-confirmation_page
    direction: rtl
    .order-confirmation_page_container
        display: flex
        flex-flow: row
        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        .confirmation__content,
        .tech_suppurt__content
            flex: 1
            display: flex
            flex-flow: column
            justify-content: center
            align-items: center
        .tech_suppurt__content
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            background-blend-mode: multiply
            background-color: #666666
            min-height: 350px
            .title
                margin: 0 auto 20px
                color: #fff
                font-weight: 600
            
        .confirmation__content
            .title
                font-weight: 600
            .subtitle
                margin: 0 
        
            .discount_coupon
                text-align: center
                img
                    max-height: 50px
                    margin-bottom: 10px
                p
                    margin: 0 
                .discount_amount
                    font-size: 30px
            .divider
                width: 50%
                background: #000