.somfy-product__container
    direction: rtl !important
    text-align: right
    .product_info__container
        display: flex
        flex-flow: row nowrap
        max-width: 1200px
        margin: 20px auto
        padding: 15px
        .thumbnail__container
            position: relative
            .products_images__slider
                background: #fff

            .wishlist_cta 
                top: 10px
            .out_of_stock_tag
                position: absolute
                top: 0
                background: #7f7f7f
                color: #fff
                right: 10px
                border-radius: 0 0 10px 10px
                padding: 5px 15px
                font-size: 16px
                font-weight: 400
            .dicount_tag
                position: absolute
                top: 0
                background: #fab31d
                color: #fff
                right: 20px
                border-radius: 0 0 10px 10px
                padding: 2px 15px 5px
                font-size: 32px
                text-align: center
                line-height: 25px
                font-weight: 600
                z-index: 999

                .tag__title
                    line-height: 12px
                    font-size: 20px
                    font-weight: 400
        .products_images__slider
            direction: ltr
             -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            height: 417px
            div
                width: 417px
                height: 417px
                .image_slide_container
                    width: 100%
                    height: 100%
                    display: flex
                    align-items: center
                    justify-content: center
                    img
                        object-fit: cover
                        object-position: center center
                        margin: 0 auto
                        max-height: 
                        width: auto
                        height: 100%
            .slick-slide
                left: 0 !important
            .slick-dots
                // bottom: -20px !important
                li
                    button
                        // width: 10px !important
                        // height: 10px !important
        .product_tumb__container
            flex: 1
            margin-bottom: 20px
            img
                object-fit: cover
                object-position: center center
                margin: 0 auto
                height: 320px
                max-width: 320px
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        .product_meta__container
            padding: 0 7% 0 20px
            flex: 3
            .product_sku
                margin: 0
                font-size: 18px
                color: #a3a3a3
            .product_title
                font-size: 32px
                font-weight: 600

            .product_not-in-stock
            .product_in-stock
                background: #fab31d
                font-size: 18px
                padding: 5px 10px
                color: #fff
            
            .product_short-desc
                text-align: right
                td, th, p
                    direction: rtl !important
            .product_icons-container
                display: flex
                flex-flow: row
                .product_icon
                    display: flex
                    flex: 1
                    flex-flow: row nowrap
                    align-items: center
                    .icon_box
                        .icon_img
                            height: 40px
                            width: auto
                            object-fit: cover
                            object-position: center center
                    .icon_titles
                        margin-right: 10px
                        .icon_title
                            font-size: 18px
                            margin: 0
                        .icon_subtitle
                            font-size: 12px
                            color: #a3a3a3
                            margin: 0
            .product_cta-container
                flex-flow: row nowrap
                display: flex
                align-items: center
                margin: 30px auto
                
                .product_mobile-preview
                    display: none
                .product_cta-amount
                    display: flex
                    flex-flow: row
                    align-items: center
                    .form-control
                        max-width: 80px
                        margin-right: 10px
                .product_cta-price
                    display: grid
                    align-items: center
                    justify-content: center
                    position: relative
                    letter-spacing: -1px
                    min-width: 200px
                    
                    .base_price
                        font-size: 50px
                        font-weight: 500
                    .discount_price
                        font-size: 50px
                        font-weight: 500
                        position: relative
                        .old_price
                            font-weight: 500
                            color: gray
                            position: absolute
                            top: -15px
                            right: 0
                            font-size: 20px
                            &::after
                                content: ""
                                width: 100%
                                height: 2px
                                background: #000
                                position: absolute
                                top: 50%
                                left: 0
                                opacity: .5
                                transform: rotate(10deg)
                            .currency_symbol
                                font-size: 16px    
                    .currency_symbol
                        font-size: 30px
                        font-weight: 400
                .product_cta-add-to-cart
                    .add_to_cart__cta
                        padding: 10px 25px
                        img
                            height: 25px
                            margin-left: 10px
        .product_add-warranty__container
            flex: 1
            text-align: center
            .warrany_card__desktop
                padding: 20px
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                .add-warranty__img
                    height: 70px
                    object-fit: cover
                    object-position: center center
                    margin: 0 auto
                    display: block
                .add-warranty__title
                    margin: 20px auto
                    font-weight: 600 
                .add-warranty__text
                    font-size: 18px

                .warranty-price
                    font-size: 45px
                    font-weight: 600 
                    color: #fab31d
                    margin: 0 !important
                    .currency_symbol
                        font-size: 25px
                .divider
                    margin: 15px -20px
                .add-warranty-cta
                    font-size: 20px

            .warrany_card__mobile
                display: none
                padding: 20px
                max-width: 500px
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                .card_header
                    display: flex
                    flex-flow: row
                    align-items: center
                    .add-warranty__img
                        height: 50px
                        object-fit: cover
                        object-position: center center
                        margin: 0 auto
                        display: block
                    .card_content
                        text-align: right
                        padding-right: 15px
                        .add-warranty__title
                            margin: 0px auto 15px
                            font-weight: 600 
                        .add-warranty__text
                            font-size: 18px
                            margin: 0
                .add-warranty-cta
                    font-size: 20px
                    display: flex
                    flex-flow: row
                    align-items: center
                    justify-content: space-between
                    .warranty-price
                        font-size: 30px
                        font-weight: 600 
                        color: #fab31d
                        margin: 0 !important
                        .currency_symbol
                            font-size: 25px
                .divider
                    margin: 15px -20px
                
    .product-tabs__container
        display: flex
        flex-flow: column
        max-width: 1200px
        margin: 20px auto
        padding: 15px
        .product-tabs__triggers
            list-style: none
            padding: 0
            margin: 0
            display: flex
            flex-flow: row nowrap
            border-bottom: 1px solid #000
            .tab-trigger__box
                height: auto
                margin-top: -15px
                .trigger-link
                    display: block
                    cursor: pointer
                    padding: 12px 40px
                    font-size: 20px
                    color: #000
                    text-decoration: none
                .trigger-link.active
                    background: #000
                    color: #fff
        .product-tabs__content
            .tab-content__container
                padding: 20px 0
                display: none
                td, th, p
                    direction: rtl !important

                .tab_section
                    margin-bottom: 20px
                    .title
                        font-weight: 600
            .tab-content__container.active
                display: block

            .product_promotional_video__container,
            .product_training_video__container
                display: flex 
                flex-flow: row wrap
                justify-content: center
                margin-bottom: 20px
                iframe
                    flex: 1
                    max-width: 100%
                    min-width: 40%
                    margin: 15px
           
            #tab_dateils
                ul
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        padding: 3px 0
                        span
                            font-weight: 600

            .product_files__container
                
                .files__container
                    display: flex 
                    flex-flow: row wrap

                .file__button
                    display: flex 
                    flex-flow: row
                    align-items: center
                    background: #fff
                    padding: 15px
                    margin: 15px
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    color: #000
                    text-decoration: none
                    img
                        height: 35px
                        margin-left: 15px
@media screen and (max-width: 1100px)
    .somfy-product__container
        .product_info__container
            flex-flow: column
            max-width: 100%
            align-items: center

            .product_tumb__container
                margin-bottom: 20px
            .product_meta__container
                flex: auto
                width: 100%

                .product_cta-container
                    justify-content: center
                    position: fixed
                    bottom: 0
                    right: 0
                    left: 0
                    margin-bottom: 0
                    padding: 30px 20px 20px
                    background: #fff
                    z-index: 99999
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2)
                    .product_mobile-preview
                        display: block
                        margin-left: 10px
                        img
                            object-fit: cover
                            object-position: center center
                            margin: 0 auto
                            height: 70px
                            max-width: 70px
                            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    .product_cta-amount
                        display: flex
                        flex-flow: row
                        align-items: center
                        .form-control
                            max-width: 80px
                            margin-right: 10px
                    .product_cta-price
                        min-width: 100px
                        .base_price
                            font-size: 30px
                        .discount_price
                            font-size: 30px
                            .old_price
                                top: -10px
                                right: 0
                                font-size: 16px
                                .currency_symbol
                                    font-size: 12px    
                        .currency_symbol
                            font-size: 20px
            .warrany_card__desktop
                display: none !important
            .warrany_card__mobile
                display: block !important
        
@media screen and (max-width: 500px)
    .somfy-product__container
        .product-tabs__container
            .product_promotional_video__container,
            .product_training_video__container
                justify-content: center
                margin-bottom: 20px
                iframe
                    flex: unset !important     
        .product_info__container
            .product_meta__container
                .product_cta-container
                    .product_mobile-preview
                        margin-left: 10px
                        img
                            height: 40px
                            max-width: 40px
                    .product_cta-add-to-cart
                        .add_to_cart__cta
                            width: 125px !important
                            padding: 8px 12px !important
                            font-size: 14px !important
                            img
                                height: 20px !important
                                margin-left: 5px !important

      
@media screen and (max-width: 450px)
    .somfy-product__container
        .product_info__container
            .product_meta__container
                .product_cta-container
                    flex-flow: row wrap
                    .product_cta-add-to-cart,
                    .product_cta-price
                        margin-top: 20px