.product-card
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
    margin: 10px 
    padding: 20px
    display: flex
    flex-flow: column
    justify-content: space-between  
    position: relative
    width: 300px
    background: #fff

    .product-thumbnail-col
        text-align: center
        background: #fff
        .product-thumbnail
            object-fit: cover
            object-position: center center
            margin: 0 auto
            height: 210px
            width: auto
            max-width: 210px
        .wishlist_cta
            top: 10px
        .dicount_tag
            position: absolute
            top: 0
            background: #fab31d
            color: #fff
            right: 20px
            border-radius: 0 0 10px 10px
            padding: 2px 20px
            padding-bottom: 5px
            font-size: 32px
            line-height: 25px
            font-weight: 600
            z-index: 999
            .tag__title
                line-height: 12px
                font-size: 20px
                font-weight: 400
        .out_of_stock_tag
            position: absolute
            top: 0
            background: #7f7f7f
            color: #fff
            right: 10px
            border-radius: 0 0 10px 10px
            padding: 5px 20px
            font-size: 16px
            font-weight: 400
            
    .product-meta-container
        height: 60px
        text-align: right
        direction: rtl
        margin-top: 15px
        .product-title
            font-size: 16px
            color: #000
            text-decoration: none
        
    .divider
        margin: 5px 0 15px 0
    .product-cta-container
        width: 100%
        display: flex
        flex-flow: row-reverse nowrap
        justify-content: space-between
        align-items: center
        text-align: right
        direction: rtl
        
        .product-price
            display: grid
            align-items: center
            justify-content: center
            position: relative
            letter-spacing: -1px
            .currency_symbol
                font-size: 18px
                font-weight: 400
            .base_price
                font-size: 30px
                font-weight: 600
            .discount_price
                font-size: 30px
                font-weight: 600
            .old_price
                font-weight: 600
                color: gray
                position: absolute
                top: -16px
                right: 0
                font-size: 20px
                &::after
                    content: ""
                    width: 100%
                    height: 2px
                    background: #000
                    position: absolute
                    top: 50%
                    left: 0
                    opacity: .5
                    transform: rotate(10deg)
                .currency_symbol
                    font-size: 16px                        