.releated_products__slider
    padding: 0 10px
    // display: flex
    // flex-flow: row wrap
    // justify-content: flex-end
    margin: 0 auto 50px auto
    // max-width: 1300px
    direction: ltr
    .slick-slide
        text-align: center
        height: 100%
    .slick-next
        right: 0
    .slick-prev
        left: 0
    .product-slide
        width: 300px !important
        margin: 10px
        padding: 10px
        // direction: rtl
        .product-thumbnail-col
            background: #fff
            .product-thumbnail
                height: 210px
                width: auto
            .wishlist_cta
                top: 10px
        .product-meta-container
            height: 60px
            .product-title
                font-size: 16px

        .product-cta-container
            .product-cta
                .add_to_cart__cta
                    width: 125px
                    padding: 8px 12px
                    font-size: 14px
                    img
                        height: 20px
                        margin-left: 5px

            .product-price
                .currency_symbol
                    font-size: 18px
                .base_price
                    font-size: 30px
                .discount_price
                    font-size: 30px
                .old_price
                    font-weight: 600
                    font-size: 20px
                    .currency_symbol
                        font-size: 16px

@media screen and (max-width: 800px)
    // .releated_products__slider
    //     justify-content: center