.top_sales_title
    max-width: 1099px
    margin: 0 auto
.selected_products
    max-width: 1099px
    margin: 0 auto
    margin-bottom: 100px
    
    .selected_products_slider
        padding-right: 7%
        padding-left: 7%
        .slick-prev
            left: 0
            width: 40px
            background-color: #171331
        .slick-next
            right: 0
            width: 40px
            background-color: #171331


        .slick-slide
            text-align: center

        .product-slide_container
            padding: 0 10px
            