.somfy_shop
    direction: rtl
    text-align: right
    .section_title
        margin-bottom: 20px !important
    .section_content_text
        margin-bottom: 20px 
        font-size: 18px

    #advanced_filters_accordion
        margin: 20px 0
        .card
            border: none
            border-radius: 0
        .card-header
            border: none
            padding: 0
            background: #fab31d
            border-radius: 0
            button
                border-radius: 0
                color: #fff
                font-size: 24px
                letter-spacing: 1px
                font-weight: 600
                text-decoration: none
                width: 100%
                text-align: right
                i
                    float: left
                    padding-top: 5px
                    padding-bottom: 0
                    transition: all .2s ease-in-out
            button.collapsed
                i
                    padding-bottom: 5px
                    padding-top: 0
                    transform: rotate(180deg)
        .card-body
            background: #f1f1f1
        .advanced_filters_container
            display: flex
            flex-flow: row wrap
            justify-content: flex-start
            .advance_filters_submit
                position: absolute
                bottom: 20px
                left: 20px
            .filter__col
                margin: 0 15px 20px 15px
                min-width: 15%
                max-width: 25%
                position: relative
                display: flex
                flex-flow: column
                flex-grow: 1
                h5
                    font-weight: 600
                    font-size: 18px
                    margin: 0

                .clear_filter
                    display: none
                    position: absolute
                    left: 0
                    top: 0
                    cursor: pointer
                    opacity: .5
                    color: #000
                    transition: all .2s ease-in-out
                    &:hover
                        color: #fab31d
                        opacity: 1

                .multi_choice_filter
                    display: block
                    margin-top: 10px
                    color: #000
                    font-weight: 600
                    font-size: 14px
                    text-decoration: underline
                    cursor: pointer
                .multi_choice_filter.action-submit
                    color: #000
                    background: #fab31d
                    text-align: center
                    padding: 3px
                    text-decoration: none
                .divider
                    margin: 5px 0 10px
                
                .select_filter
                    display: flex
                    flex-flow: column
                    max-height: 200px
                    overflow: auto
                    .select_filter__option
                        color: #000
                        text-decoration: none
                        cursor: pointer
                        text-align: right
                        direction: rtl
                        cursor: pointer
                        display: flex
                        align-items: center
                        justify-content: space-between
                        padding-left: 5px
                        .filter_results_count
                            padding-right: 5px
                            color: #fab31d

                        input[type="checkbox"] + label::before ,
                        input[type="radio"] + label::before,
                        input[type="checkbox"]:checked + label::after ,
                        input[type="radio"]:checked + label::after 
                            display: none
                        label
                            padding-right: 0 !important
                    .select_filter__option.active
                        font-weight: 600
                        
                    .select_filter__option.multiple
                        input[type="checkbox"] + label::before ,
                        input[type="radio"] + label::before
                            display: inline-block

                        input[type="checkbox"]:checked + label::after ,
                        input[type="radio"]:checked + label::after 
                            display: block
                        label
                            padding-right: 40px !important                        
                .select_filter::-webkit-scrollbar 
                    width: 4px
                .select_filter::-webkit-scrollbar-track 
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                .select_filter::-webkit-scrollbar-thumb 
                    -webkit-box-shadow: inset 0 0 6px rgba(250,179,29,1)
                    box-shadow: inset 0 0 6px rgba(250,179,29,1)
                    
                .number_filter
                    position: relative
                    input[type=range]
                        width: 100%
                    span
                        position: absolute
                        top: 15px
                    span.range-min
                        right: -5px
                    span.range-max
                        left: -10px
                
                .true_false_filter
                    input[type=radio]
                        // display: none
    .sort_filters__container
        display: none
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: center
        font-size: 18px
        // line-height: 18px
        padding: 0
        position: relative
        .button_container
            display: flex
            flex-flow: row wrap
        .title
            margin: 0
            margin-left: 0
            font-size: 16px
            font-weight: 600
            width: auto
            display: inline-block
        .sort_filter_btn
            border: none
            margin: 7px 5px
            padding: 4px 12px
            color: #666
            background: #ddd
            font-size: 14px
            transition: all .2s ease-in-out
            &:first-child
                margin-right: 0
        .sort_filter_btn.active
            color: #fff
            background: #fab31d
    
        .results_counter
            font-size: 16px
            position: absolute
            top: 4px
            left: 0
    
    .results_container
        margin: 20px 0
        min-height: 30vh
        .shop_no_results_msg
            display: none
            text-align: center
            margin: 0 auto
            font-size: 30px
        
        .results_loader
            text-align: center
            display: none
            margin: 20px 0
            .spinner-loader
                width: 50px
                height: 50px    
                border: 4px solid rgba(255, 255, 255, 0.6)
                border-top-color: #fab31d

        .results
            display: flex 
            flex-flow: row wrap
            margin: 20px auto
            justify-content: space-around
        .load_more_cta
            display: none
            margin: 20px 0
            text-align: center
            a
                margin: 0 auto
                font-size: 28px
                display: block
                cursor: pointer
                i
                    color: #7f7f7f
                    border: 2px solid #7f7f7f
                    border-radius: 50%
                    line-height: 38px
                    width: 40px
                    height: 40px
                    transition: all 0.1s ease-in-out
                    &:hover
                        color: #fab31d
                        border: 2px solid #fab31d

@media screen and (max-width: 1100px)
    .search_page
        .sort_filters__container
            flex-flow: row wrap
            .sort_filter_btn
                margin: 7px
        #total_search_results
            margin-top: 0
        #search_results_container
            
            #search_results
                justify-content: center
            #load_more_cta
                margin: 20px 0 


@media screen and (max-width: 800px)
    .somfy_shop
        #advanced_filters_accordion
            .advanced_filters_container
                padding-bottom: 70px
                .advance_filters_submit
                    width: 140px
                    left: calc(50% - 70px) !important
                    padding: 7px 40px
        
@media screen and (max-width: 765px)
    .somfy_shop
        .results_container
            .product-card
                width: 235px
                padding: 20px 7px
                .product-thumbnail-col
                    .out_of_stock_tag
                        font-size: 14px
                        padding: 5px 10px
                    .product-thumbnail
                        height: 140px
                .product-cta-container
                    flex-flow: column-reverse
@media screen and (max-width: 535px)
    .somfy_shop
        .results_container
            .product-card
                margin: 5px
                width: 158px
                .divider
                    margin: 20px 0 5px
                .product-meta-container
                    text-align: center !important
                    .product-title
                        text-align: center !important
                .product-thumbnail-col
                    .out_of_stock_tag
                        font-size: 12px
                        padding: 5px 10px
                    .product-thumbnail
                        height: 100px
                        width: 100%
                .product-cta-container
                    flex-flow: column-reverse
                    .product-price
                        .base_price
                            font-size: 24px !important

@media screen and (max-width: 550px)
    .somfy_shop
        #advanced_filters_accordion
            .advanced_filters_container
                justify-content: space-around

                .filter__col
                    min-width: 160px !important
                    flex-grow: 1
                    max-width: 50% !important
                .advance_filters_submit
                    position: absolute
                    bottom: 20px
                    left: 20px
                    padding: 7px 40px
@media screen and (max-width: 450px)
    .somfy_shop
        #advanced_filters_accordion
            .advanced_filters_container
                justify-content: space-around
                .filter__col
                    min-width: 160px !important
                    flex-grow: 1
                    max-width: 100% !important
