.subgroups_container
    display: flex
    flex-flow: row wrap
    justify-content: center
    direction: rtl
    .subgroup__card
        width: 250px
        height: 250px
        box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.65)
        margin: 15px
        background-position: center center !important
        background-repeat: no-repeat !important
        background-size: cover !important
        padding: 15px
        text-align: center
        .subgroup_link
            height: 100%
            width: 100%
            display: grid
            color: #fff
            font-size: 36px
            justify-content: center
            align-items: center
            text-decoration: none
            transition: all .2s ease-in-out
            &:hover
                color: #fab31d
@media screen and (max-width: 800px)
    .subgroups_container
        justify-content: center
        direction: rtl