.account_orders_history__container
    direction: rtl
    #account_orders__loader
        // display: none
        text-align: center
    #no_orders__message.hidden
        display: none !important

    #no_orders__message
        text-align: center
        color: #000
        font-size: 24px
        margin: 20px auto !important
        display: block
    .orders_resultes__container
        display: none
        color: #000000
        text-align: right
        .main-title
            color: #000000
            font-weight: 600

        .orders_container
            margin: 30px 0
            .results_header
                direction: rtl
                display: flex
                flex-flow: row
                align-items: center
                justify-content: space-between
                margin: 10px 0
                .title
                    font-size: 24px
                    font-weight: 600
                .sorting_filters_container
                    display: flex
                    flex-flow: row
                    align-items: center
                    .title
                        font-weight: 400
                        font-size: 16px
                        margin: 0 0 0 15px !important
                        display: inline-block
                    .sf_btn
                        margin: 0
            .results
                direction: rtl
                table
                    .thead-dark
                        background: #000
                        color: #fff
                    .order_actions
                        .sf_btn
                            max-width: 110px
                            margin: 0 auto
                    tbody
                        th
                            .show_order_items
                                cursor: pointer
                                color: #000
#order_details_popup
    .popup__container
        padding: 0 15px 
        padding-bottom: 20px
        #order_details_popup__close
            color: #000
            border-color: #000
        .container_header
            h2
                background: none
                color: #000
                border-bottom: 1px solid #000
                #order_details__order_tranid
                    color: #fab31d

        #order_details__results
            display: none
            .order_status
                background: #fef4dd
                display: inline-block
                padding: 10px 15px
                color: #000
                font-weight: 600
                font-size: 18px
                min-width: 120px
                #order_details__order_status
                    font-weight: 400
                
            #order_details__orderitems
                margin: 20px 0
                .thead-dark
                        background: #000
                        color: #fff
                td, th
                    a
                        color: #000
            .order_details__summery
                float: left
                min-width: 200px
                color: #000
                .order_details__subtotal,
                .order_details__shipping,
                .order_details__total
                    display: flex
                    flex-flow: row
                    justify-content: space-between
                    align-items: center
    #order_details__loader
        text-align: center