.wishlist_cta
    cursor: pointer
    position: absolute
    left: 20px
    top: 10px
    font-size: 30px
    color: #000
    opacity: .3
    transition: all .2s ease-in-out
    z-index: 99

    &:hover
        opacity: 1
        color: #fab31d
.wishlist_cta.active
    opacity: 1
    color: #fab31d
    &:hover
        color: #000

@media screen and (max-width: 800px)
    .wishlist_cta
        font-size: 20px
        
#wishlist__trigger
    padding: 2px !important
#wishlist__trigger.with-items
    &::after
        content: ''
        position: absolute
        top: 2px
        right: -7px
        background: #fab31d
        border-radius: 50%
        width: 15px
        height: 15px

.container.wishlist
    direction: rtl
    text-align: right
    #total_wishlist_results
        display: none
        font-size: 14px
        margin-top: 20px
        margin-bottom: -20px
        float: left
    #wishlist_results_container
        margin: 20px 0
        #wishlist_results
            display: flex 
            flex-flow: row wrap
            margin: 20px auto
            justify-content: flex-start
        #wishlist_no_results_msg
            display: none
            text-align: center
            margin: 0 auto
            font-size: 30px
        #wishlist_loader
            margin: 20px 0
            display: none