@charset "UTF-8"
/* Theme Name: Somfy PRO Theme
 * Author: AM Desings & Interjet
 * Description: The 2020 new Look of Somfy PRO Shop
 * Version: 1.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: Somfy
 * Text Domain: somfy
 *
 * This theme, like WordPress, is licensed under the GPL.
 * Use it to make something cool, have fun, and share what you've learned with others.*/

@import 'base/base_css'
@import 'base/form'
@import 'base/fonts'
@import 'base/buttons'
@import 'base/range_slider'

@import 'components/nav/somfy_side_menus'
@import 'components/nav/top-menu'
@import 'components/nav/side_nav'
@import 'components/nav/categories_nav'
@import 'components/breadcrumbs'
@import 'components/calculator_popup'
@import 'components/autoload'


@import 'components/expert_banner'
@import 'components/calculator'
@import 'components/global_search'
@import 'components/loader'
@import 'components/popups'
@import 'components/footer'

@import 'pages/home'
@import 'pages/contact'
@import 'pages/content'
@import 'pages/account'
@import 'pages/bookkeeping'
@import 'pages/technical-support'
@import 'pages/registration'
@import 'pages/login'
@import 'pages/404'
@import 'pages/search'
@import 'pages/news'
@import 'pages/rma'

  
@import 'shop/shop'
@import 'shop/product_page'
@import 'shop/cart_page'
@import 'shop/cart_popup'
@import 'shop/checkout_page'
@import 'shop/order-confirmation_page'
@import 'shop/wishlist'
@import 'shop/user_orders'
@import 'shop/product_slide'
@import 'shop/product_card'
@import 'shop/related_products'
@import 'shop/stock_notifictaion_popup'
@import 'shop/add_warranty__popup'
@import 'shop/product_preview_popup'
@import 'shop/selected_products'
@import 'shop/subgroups_bar'
@import 'shop/express_order'
@import 'shop/remote_popup'

*, *::before, *::after
    box-sizing: border-box

html
    scroll-behavior: smooth
    height: 100%
    margin: 0

body
    margin: 0
    min-height: 100%
    font-family: SomfySans, Metro
    direction: ltr
    position: relative
    background: #ececec

body.single-product
    background-color: white

#site_whatsapp_chat
    position: fixed
    z-index: 9999999
    bottom: 10px
    left: 10px
    .mobile
        display: none
@media screen and (max-width: 900px)
    .cookie-notice-container
        .cn-close-icon
            left: 10px
            right: unset
            top: 20px

@media screen and (max-width: 800px)
    #enable-toolbar-trigger
        transform: translateY(-135%) !important
        -webkit-transform: translateY(-135%) !important
    #site_whatsapp_chat
        position: fixed
        z-index: 9999999
        bottom: 50px
        left: 10px
        img
            height: 70px
            display: none
        .mobile
            height: 30px
            display: block