@charset "UTF-8"
/* Theme Name: Somfy EU Theme
 * Author: AM Desings & Interjet
 * Description: The 2020 new Look of Somfy EU Shop
 * Version: 1.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: Somfy
 * Text Domain: somfy
 *
 * This theme, like WordPress, is licensed under the GPL.
 * Use it to make something cool, have fun, and share what you've learned with others.*/

img,a
   &:focus
    outline: none

@import 'base/form'
@import 'base/fonts'
@import 'base/buttons'
@import 'base/range_slider'

@import 'components/nav/top-menu'
@import 'components/nav/side_nav'
@import 'components/nav/categories_nav'


@import 'components/calculator'
@import 'components/global_search'
@import 'components/loader'
@import 'components/newsletter'
@import 'components/popups'
@import 'components/footer'
@import 'components/breadcrumbs'
@import 'components/calculator_popup'

@import 'pages/home'
@import 'pages/contact'
@import 'pages/content'
@import 'pages/account'
@import 'pages/registration'
@import 'pages/404'
@import 'pages/search'

@import 'shop/shop'
@import 'shop/product_page'
@import 'shop/cart_page'
@import 'shop/cart_popup'
@import 'shop/checkout_page'
@import 'shop/order-confirmation_page'
@import 'shop/wishlist'
@import 'shop/user_orders'
@import 'shop/product_slide'
@import 'shop/product_card'
@import 'shop/related_products'
@import 'shop/stock_notifictaion_popup'
@import 'shop/add_warranty__popup'
@import 'shop/selected_products'
@import 'shop/subgroups_bar'

*, *::before, *::after
    box-sizing: border-box

html 
    scroll-behavior: smooth
    height: 100%
    margin: 0

body 
    margin: 0
    min-height: 100%
    font-family: SomfySans, Metro
    direction: ltr
    position: relative

@media screen and (max-width: 900px)
    .cookie-notice-container
        .cn-close-icon
            left: 10px
            right: unset
            top: 20px

@media screen and (max-width: 800px)
    #enable-toolbar-trigger
        transform: translateY(-135%) !important
        -webkit-transform: translateY(-135%) !important