#categories_nav
    background: rgba(0, 0, 0, .85)
    width: 100%
    color: #fff
    text-align: center
    .categories-links
        max-width: 1366px
        margin: 0 auto
        display: flex
        flex-flow: row nowrap
        justify-content: center
        direction: rtl
        list-style: none
        padding: 0
        .category_link
            display: inline-block
            // border-left: 1px solid #fff
            padding: 15px  
            margin: 0
            position: relative
            height: 60px
            &:before
                content: ''
                height: 20px
                border-left: 1px solid #fff
                position: absolute
                left: 0
                top: 50%
                margin-top: -12px
            a
                font-size: 18px
                color: #fff
                text-decoration: none
                 
        .category_link.active
            &::after
                content: ''
                height: 2px
                border-bottom: 4px solid #fab31d
                position: absolute
                bottom: 0
                right: 0
                left: 0
        .category_link:last-child
            &:before
                display: none



        .megamenu__container
            position: fixed
            border-top: 4px solid #fab31d
            // top: 160px
            margin-top: 10px
            right: 0
            left: 0
            width: 100%
            z-index: 999
            background: #fff
            display: none
            -webkit-box-shadow: 0px 5px 15px -6px #000000
            box-shadow: 0px 5px 15px -6px #000000
            .container
                display: flex
                flex-flow: row nowrap
                overflow: inherit
                justify-content: flex-start
            .megamenu__groups_container
                display: flex
                flex-flow: column
                background: #fff
                -webkit-box-shadow: -5px 0px 13px -5px rgba(0,0,0,0.3)
                box-shadow: -5px 0px 13px -5px rgba(0,0,0,0.3)
                min-width: 230px
                .group_link__container
                    padding: 20px 15px
                    text-align: right
                    color: #000
                    transition: all .2s ease-in-out
                    .group_link
                        cursor: pointer
                        color: #000
                        display: flex
                        flex-flow: row
                        justify-content: space-between
                        align-items: center
                        transition: all .2s ease-in-out
                    &:hover
                        background: #fab31d
                        color: #fff
                        .group_link
                            color: #fff
            .megamenu__subgroups_container
                min-width: 230px
                .subgroups_links__tab
                    height: 100%
                    display: none
                    flex-flow: column
                    padding: 20px 15px
                    .subgroup_link__container
                        padding: 10px 0
                        padding-right: 15px
                        text-align: right
                        .subgroup_link
                            color: #000
                            font-size: 18px
                            i
                                color: #fab31d
                                padding-left: 5px
            .megamenu__banner_container
                margin: 10px auto
                img
                    max-height: 320px
                    object-fit: cover
                    object-position: center center
@media screen and (max-width: 1100px)
    #categories_nav
        display: none !important