#side_nav
    font-size: 28px
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 190px

    .user_menu
        width: 58px
        height: 58px
        margin-right: -15px
    .side_icon
        color: #000
        position: relative
        width: 50px
        height: 50px
        padding: 10px 7px
        a
            display: block
            width: 100%
            height: 100%
        .active
            &:before
                content: ''
                position: absolute
                right: -2px
                top: -1px
                z-index: -1
                background: #fab31d
                border-radius: 50%
                width: 55px
                height: 55px
                text-align: center
                padding-top: 3px
        img
            height: auto
            display: block
            cursor: pointer
            width: 100%

        #user-menu__trigger
            color: #000
            text-decoration: none
            cursor: pointer
            margin-right: 0
            display: block

            span
                font-size: 18px
            img
                border-radius: 50%
                width: 100%
                // height: auto
                display: block

    #user-menu__dropdown
        display: none
        z-index: 999999
        position: absolute
        top: 71px
        right: 0
        width: 360px
        background: #fff
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
        border: 1px solid #d7d7d7
        text-align: right
        direction: rtl
        right: 50%
        .user-menu__dropdown__close
            position: absolute
            color: #000
            left: 10px
            opacity: .5
            width: auto
            height: auto
            cursor: pointer
            transition: all 0.2s ease-in-out
            &:hover
                opacity: 1
        .menu-list
            list-style: none
            padding: 10px
            margin: 0
            .divider
                color: #000
                margin: 2px auto
            .nav-item 
                font-size: 20px
                padding: 5px 10px
                a
                    color: #000
                    text-decoration: none
        
        .not_logged
            direction: rtl
            text-align: right
            padding: 15px
            input[type=text], input[type=password]
                border: 1px solid #000 !important
            .um-icon-android-checkbox-outline
                color: #fab31d
            .um-button
                border-radius: 0 !important
                background: #fab31d
                font-size: 18px
                color: #fff
                &:hover
                    color: #000

            #um-submit-btn
                width: 100% !important
            .um-link-alt
                text-align: right
            .divider
                color: #000
            .register_title, .login_title
                font-size: 22px
                margin: 15px auto
            .register_text
                font-size: 16px
                font-weight: 400
            .register_btn
                font-size: 18px


@media screen and (max-width: 1750px) and (min-width: 1550px)
    #side_nav
        margin-right: 30px

@media screen and (max-width: 550px)
    #side_nav
        font-size: 28px
        gap: 8px
        .side_icon
            padding: 10px 0
            img
                height: 25px 
        #user-menu__dropdown
            left: 0
            right: unset
            width: 100%
            position: fixed
            top: 100px

    .user_menu
        width: 58px
        height: 58px
        margin-right: -15px
    .side_icon
        color: #000
        position: relative
        width: 50px
        height: 50px
        padding: 10px 7px
        a
            display: block
            width: 100%
            height: 100%
        .active
            &:before
                content: ''
                position: absolute
                right: -1px
                top: -5px
                z-index: -1
                background: #fab31d
                border-radius: 50%
                width: 55px
                height: 55px
                text-align: center
                padding-top: 3px