#top-menu
    position: fixed
    width: 100%
    z-index: 9999
    background: #fff
    height: 100px
    padding: 0
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.3)
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.3)
#top_nav
    max-width: 1140px
    height: 100px
    margin: 0 auto
#mobile_menu__trigger
    display: none
    height: 22px
    flex-flow: column
    justify-content: space-between
    cursor: pointer
    background: #fff
    color: #000
    position: relative
    span
        display: block
        width: 26px
        height: 3px
        background: #000
        transition: all 0.2s ease-in-out
    &:hover
        span
            background: #fab31d

#mobile-menu__overlay
    display: none
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 999999
    background: #fff
    backdrop-filter: blur(6px)

    .mobile-menu__top
        padding: 15px
        margin-top: 30px
        border-bottom: 4px solid #fab31d
        display: flex
        flex-flow: row-reverse
        justify-content: space-between
        align-items: center
        .mobile-menu__close
            color: #000
            border-radius: 50%
            border: 2px solid #000
            display: inline-block
            width: 40px
            height: 40px
            line-height: 35px
            font-size: 22px
            text-align: center
            cursor: pointer
            
    #mobile_category__accordion
        .accordion-item

            .accordion-header > .accordion-button
                flex-flow: row-reverse
                background: #fab31d
                color: #000
                &::after
                    margin-left: 0
                    margin-right: auto
                &.collapsed
                    background: #fff
            .accordion-header > .accordion-button.category-button,
            .accordion-header > .accordion-button.group-button
                text-decoration: none
                color: #000
                background: #fff
                border-bottom: 0
                &::after
                    display: none
            .accordion-body
                padding-left: 0
                background: #ddd
                padding-right: 0
                .accordion.accordion-flush
                    .accordion-item
                        .accordion-header > .accordion-button
                            flex-flow: row-reverse
                            background: #ddd
                            color: #000
                            &::after
                                margin-left: 0
                                margin-right: auto
                        .accordion-header > .accordion-button.group-button
                            text-decoration: none
                            color: #000
                            background: #ddd
                            border-bottom: 0
                            &::after
                                display: none
                        .accordion-body
                            direction: rtl
                            padding: 15px 20px
                            background: #eee
                            .subgroup_button
                                display: block
                                padding: 10px 15px
                                color: #000
                                text-decoration: none

                .megamenu_mobil__banner_container
                    margin: 20px auto
                    text-align: center
                    img
                        object-fit: cover
                        object-position: center center
                        height: 100%
                        max-height: 250px
                        width: 100%
                        max-width: 450px
@media screen and (max-width: 1150px)
    .navbar-brand
        img
            height: 40px
    #mobile_menu__trigger
        display: flex !important

    #top-menu
        padding: 0 15px
@media screen and  (max-width: 400px)
    .navbar-brand
        img
            height: 30px