#not_found
    margin-top: 120px
    .query_header
        position: relative
        margin: 0 auto
        overflow: hidden
        min-height: 80vh
        .subtitle
            opacity: .6
            margin: 10px auto
            color: #40444A
            font-size: 20px
            text-align: center !important
        .section-title
            margin: 10px auto
            text-align: center !important
            top: 0
        
        p 
            text-align: center
            font-size: 24px
            
        .imghead
            z-index: -9999   
            position: absolute
            top: 100px
            left: 0
            right: 0
            text-align: center
            .image_head
                object-fit: contain
                object-position: center center
                height: 100%
                max-width: 1024px