.um-account
    .um-account-side
        ul
            direction: rtl
            li
                background: #fff
                .um-account-link
                    padding: 20px 15px  !important
                    direction: rtl
                    text-decoration: none !important
                    color: #000
                    display: flex 
                    flex-flow: row
                    justify-content: space-between
                    font-weight: 400
                    font-size: 22px
                    transition: all .2s ease-in-out
                    &:hover
                        background: #ffffff !important
                        font-weight: 400
                    span.um-account-arrow
                        position: static
                .um-account-link.current
                    background: #000
                    font-size: 22px
                    color: #fff
                    &:hover
                        background: #000 !important
                    .um-account-arrow
                        color: #fab31d
                        opacity: 1
                    .um-account-title
                        color: #fff

    input[type=submit].um-button
        background: #fab31d !important
        color: #000
        border-radius: 0 !important
        padding: 16px 30px !important
    input[type=submit].um-button#um_account_submit_delete
        background: #ddd !important
        color: #000    
    .um-account-main
        padding: 0 15px


@media screen and (max-width: 1100px)
    .um-account
        .um-account-side
            float: none
            width: 100% !important
            ul
                display: flex
                flex-flow: row
                li
                    flex: 1
                    background: #fff
                    .um-account-link
                        display: grid
                        justify-content: center
                        align-items: center
                        .um-account-title
                            display: block !important
                            padding: 0  !important
                            color: #000
                            
                            font-weight: 400
                            font-size: 22px
                            transition: all .2s ease-in-out
                            &:hover
                        span.um-account-arrow
                            display: none !important
        .um-account-main
            margin: 20px auto 50px
            float: none
            .um-account-tab
                margin: 0 15px
            .um-account-nav 
                margin: 0 10px
                a
                    color: #000 !important
                    font-weight: 400 !important
                    padding-right: 50px !important
                    font-weight: 400 !important
                    span.arr
                        color: #fab31d !important
                        left: 15px
                    span.ico
                        right: 15px
                a.current
                    color: #fff !important
                    background: #000
                    span.arr
                        color: #fab31d !important
                        