.page_hero
    width: 100%
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    height: 537px
    position: relative
    direction: rtl
    .hero__content
        max-width: 470px
        background: rgba(0, 0, 0, .8)
        color: #fff
        position: absolute
        bottom: 120px
        right: 20%
        padding: 20px 25px
        direction: rtl
        text-align: right
        .hero__title
            margin: 0
            font-size: 50px
        .hero__text
            font-size: 18px

    
.main_content
    padding-top: 160px
    min-height: 80vh

    
.generic-content
    max-width: 1140px
    margin: 50px auto 50px auto
    direction: rtl
    
    p
        font-size: 18px 
        line-height: 30px
        letter-spacing: -0.36px
    .generic-content__cta_container
        width: 100%
        text-align: center
        .generic-content__cta
            background: #000
            display: inline-block
            color: #fff
            font-size: 18px
            padding: 10px 30px
            text-decoration: none
            margin-top: 10px
            text-align: center

    
.main_content,
.generic-content
    .section_title
        font-size: 40px
        text-align: center
        font-weight: 600
        margin: 50px auto 30px auto
        direction: rtl
    .section_title.dark_title
        background: #000
        color: #ffffff
        padding: 10px 15px
        margin: 50px auto
        text-align: right
    .section_title_full
        margin: 50px 20px
    .section_title_mini
        max-width: 1140px
        margin: 50px auto
        font-size: 30px

.container
    .section_title
        margin: 50px 0 30px 0 !important
    .section_title.dark_title
        margin: 50px 0
    .section_title_full
        margin: 50px 0 !important


#somfy_top_banner
    background: #000
    height: 36px
    position: fixed
    top: 0
    right: 0
    left: 0
    width: 100%
    text-align: center
    line-height: 36px
    font-size: 14px
    z-index: 9999999
    a
        color: #fff
    .somfy_top_banner__close
        position: absolute
        right: 15px
        cursor: pointer
        transition: all .2s ease-in-out
        &:hover
            color: #fab31d
@media screen and (max-width: 1100px)
    .main_content
        padding-top: 100px

@media screen and (max-width: 800px)
    .main_content,
    .generic-content
        .section_title.dark_title
            text-align: center