#contact-page
    margin-bottom: 50px
    .contact-form__container
        display: flex
        flex-flow: row wrap
        direction: rtl
        text-align: right
        margin-bottom: 50px

        .contact_map 
            flex: 1
            
        .contact-form__form
            flex: 1
            padding: 0 20px
            form
                max-width: 320px
                margin: 0 auto
                .form_row
                    padding: 7px 0
                    font-size: 16px
                    .form_label
                    .form_input
                        input, select, textarea
                            width: 100%
                    .form_actions
                        input[type=submit]
                            background: #fab31d
                            border: none
                            color: #000
                            border-radius: 0
                            padding: 12px 30px
                            width: 100%

    #qa_accordion
        margin-bottom: 50px
        direction: rtl
        text-align: right
        .card
            border: none
            border-radius: 0
            margin: 20px auto
            .card-header
                background: #fff
                border-radius: 0
                border: none
                padding: 0
                .btn
                    width: 100%
                    text-align: right
                    border-radius: 0
                    border-bottom: 4px solid #fab31d
                    color: #fff
                    background: #000
                .btn.collapsed
                    border-bottom: 4px solid #fab31d
                    color: #000
                    background: #fff


@media screen and (max-width: 1100px)
    #contact-page
        .contact-form__container
            display: flex
            flex-flow: column-reverse
            .contact_map 
                margin-top: 50px