@import 'pages/home/hero_slider'
@import 'pages/home/product_categories_links'
@import 'pages/home/slider_cta'

#home-page

    .home_about__container
        direction: rtl
        .home_about__content
            text-align: center
            max-width: 920px
            margin: 10px auto
        .home_about__read_more
            display: block
            margin: 10px auto
            color: #000
            text-decoration: underline
            font-weight: 600
        .home_about_icons
            display: flex
            flex-flow: row
            justify-content: center
            .home_about_icon
                text-align: center
                max-width: 240px
                min-width: 220px
                margin: 50px auto
                .icon_box
                    background: #fcd98e
                    border-radius: 50%
                    height: 120px
                    width: 120px
                    display: grid
                    justify-content: center
                    align-items: center
                    margin: 0 30px 30px
                    img
                        height: 50px
                .about_icon_title
                    font-size: 25px
                    font-weight: 600
                    margin: 0
                .about_icon_subtitle
                    font-size: 18px
                    font-weight: 600
                    color: #bbb
                    white-space: nowrap

@media screen and (max-width: 900px)
    #home-page
        .home_about__container
            .home_about_icons
                .home_about_icon
                    margin: 50px auto
                    .icon_box
                        margin: 0 auto 30px auto