#registretion-page
    .registration__container
        display: flex
        flex-flow: row
        direction: rtl
        .graphics,
        .reg_form
            flex: 1
            padding: 15px
            .um-form-field
                border-color: #000 !important
            .um-field-checkbox-state
                .um-icon-android-checkbox-outline
                    color: #fab31d
            .um-button
                border-radius: 0 !important
                background: #000
                width: 100% !important
            .um-field-error
                background: #fab31d !important
                color: #000 !important
                .um-field-arrow
                    color: #fab31d !important
            .um-notice.err
                background: #fab31d !important
                color: #000 !important
            .um-toggle-gdpr
                color: #000 !important

        .graphics
            img
                height: 100%
                width: 100%
                object-fit: cover
                object-position: center center
@media screen and (max-width: 800px)
    #registretion-page
        .registration__container
            display: flex
            flex-flow: column
        .graphics
            display: none