.cart__trigger
    position: relative
    width: 50px
    text-align: center
    padding: 0 5px
.cart__trigger.with-items
    &:after
        content: ''
        position: absolute
        top: 8px
        right: 3px
        z-index: 999
        background: #DA5F15
        border-radius: 50%
        width: 15px
        height: 15px
.cart__trigger.with-items.active
    &:after
        background: #fff

.cart__trigger.active
    position: relative
    background: none !important
    &:before
        content: ''
        position: absolute
        right: -15px
        top: -7px
        z-index: -1
        background: #DA5F15
        border-radius: 50%
        width: 55px
        height: 55px
        text-align: center
        padding-top: 3px
    img
        width: 30px
        height: 30px


#cart_popup__container
    display: none
    background: #fff
    position: absolute
    top: 60px
    right: 0
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
    width: 420px
    z-index: 99999
    direction: rtl
    text-align: right
    .popup-header
        background: #DA5F15
        padding: 15px
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        .header-title
            color: #fff
            margin: 0
            font-size: 20px
            font-weight: 600
            letter-spacing: .5px
        .cart_popup__close
            border: 1px solid #fff
            border-radius: 50%
            height: 30px
            width: 30px
            text-align: center
            color: #fff
            font-size: 20px
            line-height: 35px
            cursor: pointer
            transition: all .2s ease-in-out
            &:hover
                color: #000
                border: 1px solid #000

    .cart_summery
        padding: 15px
        font-size: 16px
        .divider
            opacity: 1
        .sub_summery,
        .discount_summery,
        .total_summery
            margin: 10px 0
        .total_summery
            font-size: 18px
            font-weight: 600
        .go_to_checkout
            background: #DA5F15
            font-size: 16px
        .val
            float: left
    .not_cart_items
        display: none
        font-size: 24px
        padding: 15px
        text-align: center
    .cart_items__container
        padding: 15px
        max-height: 45vh
        overflow: auto
        &::-webkit-scrollbar 
            width: 4px
        &::-webkit-scrollbar-track 
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
        &::-webkit-scrollbar-thumb 
            -webkit-box-shadow: inset 0 0 6px rgba(250,179,29,1)
            box-shadow: inset 0 0 6px rgba(250,179,29,1)
        .cart_item_box
            display: flex
            flex-flow: column
            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            margin: 10px 0
            .kid_cart_item_box
                background: #fef0d2
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                margin: 15px !important
            .parent_cart_item_box,
            .kid_cart_item_box,
                display: flex
                flex-flow: row nowrap
                margin: 10px 0
                .item_tumbnail
                    display: flex
                    align-items: center
                    img
                        object-fit: cover
                        object-position: center center
                        height: 120px
                        width: 120px
                .item_info
                    position: relative
                    flex-grow: 1
                    display: flex
                    flex-flow: column
                    padding: 15px
                    padding-bottom: 5px
                    .item_titles
                        .item_title
                            font-size: 18px
                            color: #000
                            text-decoration: none
                            flex-grow: 1
                        .item_itemid
                            display: none
                    .item_amount   
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        position: relative
                        label
                            font-size: 16px
                        .form-control
                            max-width: 80px
                            margin: 0 10px
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button
                                -webkit-appearance: none
                                margin: 0

                            /* Firefox */
                        input[type=number] 
                            -moz-appearance: textfield
                        
                        .loader
                            display: none
                            position: absolute
                            left: 0
                            .spinner-loader
                                width: 15px
                                height: 15px
                    .item_prices
                        display: flex
                        flex-flow: column
                        align-items: center
                        justify-content: center
                        position: relative
                        letter-spacing: -1px
                        margin-bottom: -5px
                        .currency_symbol
                            font-size: 18px
                            font-weight: 400
                        .bottomline_price
                            font-size: 16px
                            color: #1E1E1E
                            opacity: .5
                            margin-top: -10px
                            .currency_symbol
                                font-size: 12px
                        .top_price
                            font-size: 26px
                            display: flex
                            align-items: center
                            .vl 
                                border-left: 1px solid #000
                                height: 20px
                                margin: 0 5px
                            .base_price
                                font-weight: 600
                                margin: 0 5px
                            .discount_price
                                font-weight: 600
                                margin: 0 5px
                                color: #DA5F15
                            .old_price
                                font-weight: 600
                                color: gray
                                position: relative
                                margin: 0 5px
                                &::after
                                    content: ""
                                    width: 100%
                                    height: 2px
                                    background: #000
                                    position: absolute
                                    top: calc(50% - 5px)
                                    left: 0
                                    right: 0
                                    opacity: .5
                                    transform: rotate(-20deg)
                                .currency_symbol
                                    font-size: 16px                        
                        .currency_symbol
                            font-size: 20px
                            font-weight: 400
                    
                    .remove_cart_item
                        color: #7f7f7f
                        position: absolute
                        bottom: 5px
                        left: 10px
                        font-size: 16px
                        cursor: pointer

#add_to_cart__popup
    .container_header
        padding-bottom: 20px
        h2
            margin-bottom: 30px
        .add_to_cart__success
            display: none
        .max_amount_reached
            // display: none
            text-align: center
            .sf_btn
                margin: 10px auto
@media screen and (max-width: 550px)
    .cart__trigger.with-items
        &:after
            top: 8px
            right: -5px
            width: 10px
            height: 10px

    .cart__trigger.active
        &:before
            right: -11px
            top: -3px
            width: 45px
            height: 45px
            padding-top: 3px
        img
            width: 25px
            height: 25px
    
    #cart_popup__container
        position: fixed
        top: 90px
        right: 0
        left: 0
        bottom: 0
        width: 100%
        overflow: auto
        .cart_items__container

            .cart_item_box
                .item_tumbnail
                    img
                        object-fit: cover
                        object-position: center center
                        height: 100px
                        width: 100px