.cart_page
    direction: rtl
    text-align: right

    .cart_page_container
        display: flex
        flex-flow: row
        
        .coupon_input__container
            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            margin-left: 20px
            img
                object-fit: cover
                object-position: center center
            .form-floating,
            .submit_coupon
                margin: 30px
            .form-floating
                input
                    text-align: right
            .submit_coupon
                margin-top: -10px


        .cart_result__container
            flex-grow: 1
            .not_cart_items
                display: none
                font-size: 24px
                padding: 15px
                text-align: center
            #cart_items__table
                display: none
                thead tr th
                    color: #7f7f7f
                    font-weight: 400
                    padding-bottom: 20px
            
            .cart_items__container
                padding: 0 15px
            
            .cart_item_box
                display: flex
                flex-flow: column
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                margin: 10px 0

                .kid_cart_item_box
                    background: #e9e9e9
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    margin: 15px !important
                .parent_cart_item_box
                    border-bottom: 1px solid #000
                    border-top: 1px solid #000
                    &:first-child
                        border-bottom: none
                .parent_cart_item_box,
                .kid_cart_item_box,
                    padding: 15px 0
                    display: flex
                    flex-flow: row nowrap
                    margin: 0
                    

                    .item_tumbnail
                        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                        margin-right: 15px
                        img
                            object-fit: cover
                            object-position: center center
                            height: 120px
                            width: 120px
                    .item_info
                        position: relative
                        flex-grow: 1
                        display: flex
                        flex-flow: row 
                        justify-content: space-between
                        align-items: center
                        padding: 15px
                        padding-bottom: 5px
                        .item_titles
                            min-width: 150px

                            .item_title
                                font-size: 24px
                                font-weight: bold
                                color: #000
                                text-decoration: none
                                display: block
                            .item_itemid
                                font-size: 18px
                                color: #7f7f7f
                                font-weight: 600
                                text-decoration: none
                                display: block
                        .item_amount   
                            display: flex
                            flex-flow: row nowrap
                            align-items: center
                            position: relative
                            label
                                font-size: 16px
                            .form-control
                                max-width: 80px
                                margin: 0 10px
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button
                                    -webkit-appearance: none
                                    margin: 0

                                /* Firefox */
                            input[type=number] 
                                -moz-appearance: textfield
                            
                            .loader
                                display: none
                                position: absolute
                                left: 0
                                .spinner-loader
                                    width: 15px
                                    height: 15px
                        .item_prices
                            display: flex
                            flex-flow: column
                            align-items: flex-start
                            justify-content: center
                            position: relative
                            letter-spacing: -1px
                            margin-bottom: -5px
                            .currency_symbol
                                font-size: 18px
                                font-weight: 400
                            .bottomline_price
                                white-space: nowrap
                                font-size: 16px
                                color: #1E1E1E
                                opacity: .5
                                margin: -10px 0 0 0
                                .currency_symbol
                                    font-size: 12px
                            .top_price
                                font-size: 26px
                                display: flex
                                align-items: center
                                .vl 
                                    border-left: 1px solid #000
                                    height: 20px
                                    margin: 0 5px
                                .base_price
                                    font-weight: 600
                                    margin: 0 5px
                                .discount_price
                                    font-weight: 600
                                    margin: 0 5px
                                    color: #DA5F15
                                .old_price
                                    font-weight: 600
                                    color: gray
                                    position: relative
                                    margin: 0 5px
                                    &::after
                                        content: ""
                                        width: 100%
                                        height: 2px
                                        background: #000
                                        position: absolute
                                        top: calc(50% - 5px)
                                        left: 0
                                        right: 0
                                        opacity: .5
                                        transform: rotate(-20deg)
                                    .currency_symbol
                                        font-size: 16px                        
                            .currency_symbol
                                font-size: 20px
                                font-weight: 400
                        
                        .remove_cart_item
                            color: #7f7f7f
                            font-size: 18px
                            line-height: 18px
                            cursor: pointer
            .cartItem__tr_mobile
                display: none
                td
                    border-top: none
            .cartItem__tr_desktop
                td
                    border-top: 2px solid #000        
            .childe_tr         
                td
                    border-top: none
            .cartItem__tr
                td
                    vertical-align: middle !important
                    border-bottom: none
                .warrantyProduct_td
                    display: flex
                    flex-flow: row nowrap
                    align-items: center
                    border-bottom: none
                    padding-top: 12px
                    .item_titles
                        min-width: unset
                        white-space: nowrap
                        a
                            font-size: 16px 
                    .warranty_checkbox_group
                        display: none
                        margin-bottom: -10px
                    .item_tumbnail
                        margin: 0
                        text-align: center
                        width: auto
                        height: auto
                        margin-right: 5px
                .item_tumbnail
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    margin: 0 auto
                    margin-right: 10px
                    text-align: center
                    height: 80px
                    width: 80px
                    img
                        object-fit: cover
                        object-position: center center
                        height: 80px
                        background: #fff
                        width: 80px
                    .item_info
                        position: relative
                        flex-grow: 1
                        display: flex
                        flex-flow: row
                        justify-content: space-between
                        align-items: center
                        padding: 15px
                        padding-bottom: 5px
                .item_titles
                    min-width: 150px
                    max-width: 300px
                    .item_title
                        font-size: 18px
                        font-weight: bold
                        color: #000
                        text-decoration: none
                        display: block
                    .item_itemid
                        font-size: 15px
                        color: #7f7f7f
                        text-decoration: none
                        display: block
                .item_amount   
                    display: flex
                    flex-flow: row nowrap
                    align-items: center
                    position: relative
                    width: 130px
                    label
                        font-size: 16px
                    .form-control
                        max-width: 80px
                        margin: 0 10px
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button
                            -webkit-appearance: none
                            margin: 0

                        /* Firefox */
                    input[type=number] 
                        -moz-appearance: textfield
                    
                    .loader
                        display: none
                        position: absolute
                        left: 0
                        .spinner-loader
                            width: 15px
                            height: 15px
                .item_prices
                    display: flex
                    flex-flow: column
                    align-items: flex-start
                    justify-content: center
                    position: relative
                    letter-spacing: -1px
                    margin-bottom: -5px
                    .currency_symbol
                        font-size: 18px
                        font-weight: 400
                    .bottomline_price
                        font-size: 16px
                        white-space: nowrap
                        color: #1E1E1E
                        opacity: .5
                        margin: -10px 0 0 0

                        .currency_symbol
                            font-size: 12px
                    .top_price
                        font-size: 26px
                        display: flex
                        align-items: center
                        .vl 
                            border-left: 1px solid #000
                            height: 20px
                            margin: 0 5px
                        .base_price
                            font-weight: 600
                            margin: 0 5px
                        .discount_price
                            font-weight: 600
                            margin: 0 5px
                            color: #DA5F15
                        .old_price
                            font-weight: 600
                            color: gray
                            position: relative
                            margin: 0 5px
                            &::after
                                content: ""
                                width: 100%
                                height: 2px
                                background: #000
                                position: absolute
                                top: calc(50% - 5px)
                                left: 0
                                right: 0
                                opacity: .5
                                transform: rotate(-20deg)
                            .currency_symbol
                                font-size: 16px                        
                    .currency_symbol
                        font-size: 20px
                        font-weight: 400
                .remove_cart_item
                    color: #7f7f7f
                    font-size: 18px
                    line-height: 18px
                    cursor: pointer
                    max-width: 50px
    
            .warrantyProduct_td
                border: none !important
                background: #eaeaea
                .item_tumbnail
                    -webkit-box-shadow: none
                    box-shadow: none
                    margin-right: 40px
                    img
                        object-fit: cover
                        object-position: center center
                        height: 40px !important
                        width: auto !important
    
    #cart_page_summery
        visibility: hidden
    .cart_summery
        padding: 15px
        font-size: 16px
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        margin: 20px 15px
        align-items: center
        background: #fff
        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        position: relative
        .total_discount_summery
            background: #DA5F15
            padding: 5px 15px 10px 15px
            font-size: 20px
            color: #fff
            border-radius: 0 0 10px 10px
            line-height: 20px
            position: absolute
            top: 0
            right: 15px
            display: flex
            flex-flow: column

        .summaries
            margin-right: 150px
            min-width: 300px
            .divider
                opacity: 1
            .total_summery
                margin: 10px 0
                font-size: 22px
                font-weight: 600
            .catalogy_summery
                margin: 0
                margin-top: -10px
                font-size: 18px
                opacity: .5
        .go_to_checkout
            background: #DA5F15
            font-size: 16px
            align-self: start
        .val
            float: left
    

@media screen and (max-width: 1200px)
    .cart_page
        .cart_page_container
            display: flex
            flex-flow: column
            .coupon_input__container
                margin-left: auto
                margin: 0 auto 20px auto
                width: 350px
                img
                    width: 100%
                    height: 200px

                .form-floating,
                .submit_coupon
                    margin: 30px
                .submit_coupon
                    margin-top: -10px

            .cart_result__container
                .cart_items__container
                    .cart_item_box
                        align-items: center
                        .item_tumbnail
                            height: 100px
                            img
                                height: 100px
                                width: 100px
                        .item_info
                            position: relative
                            flex-grow: 1
                            display: flex
                            flex-flow: row wrap
                            .item_titles
                                .item_title
                                    font-size: 18px
                                    color: #000
                                    text-decoration: none
                                    flex-grow: 1
                                .item_itemid
                            .item_amount   
                            .item_prices
                                .base_price
                                    font-size: 30px
                                .discount_price
                                    font-size: 30px
                                    .old_price
                                        position: relative
                                        top: 0
                                        font-size: 20px
                                        
                                .currency_symbol
                                    font-size: 20px
                            
                            .remove_cart_item
                                color: #7f7f7f
                                position: absolute
                                bottom: -20px
                                left: 10px
                                top: auto
                                font-size: 16px
                                cursor: pointer
        .cart_summery
            flex-flow: column
            .summaries
                margin-right: unset !important
            .go_to_checkout
                background: #DA5F15
                font-size: 16px
                align-self: center
        
@media screen and (max-width: 1400px)
    .cart_page
        .cart_page_container
            .cart_result__container
                .cart_items__container
                    .cart_item_box
                        .item_info
                            .remove_cart_item
                                bottom: -5px


@media screen and (max-width: 800px)
    .cart_page
        .cart_page_container
            .cart_result__container
                .th_hhide_mobile,
                .cartItem__tr_desktop
                    display: none
                .cartItem__tr_mobile
                    display: table-row
                    .item_prices_td,
                    .item_actions_td
                        display: flex
                        flex-flow: row
                        justify-content: space-around
                        align-items: flex-start
                        .item_prices
                            margin: 0 10px
                            h5
                                font-size: 16px
                                text-align: center
                                margin: 0 auto
                    .item_actions_td
                        justify-content: space-between
                .cartItem__tr
                    .warrantyProduct_td
                        margin-right: 0 !important
                        .warranty_checkbox_group
                            margin-bottom: -5px
                            
                    .item_tumbnail
                        height: 80px
                        width: 80px
                        img
                            height: 80px
                            width: 80px
                    .item_titles
                        min-width: 150px
                        .item_title
                            font-size: 18px
                        .item_itemid
                            font-size: 14px
                            color: #7f7f7f
                    .item_amount   
                        label
                            font-size: 14px
                        .form-control
                            max-width: 60px
                        
                .childe_tr
                    .item_tumbnail
                        margin-right: 40px
                        img
                            height: 40px
                            width: auto

    #cart_page_summery
        margin: 20px 0 !important
           
@media screen and (max-width: 550px)
    #cart_page_summery
            
        .total_discount_summery
            background: unset !important
            color: #000 !important
            padding: 10px 0 !important
            font-size: 18px
            font-weight: bold !important
            flex-flow: row !important
            justify-content: space-between
            min-width: 300px
            order: 1
            position: unset !important
        .go_to_checkout 
            order: 3