.checkout_page
    direction: rtl

    .order_submition_loader_container__overlay
        display: none
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0, 0, 0, 0.7)
        z-index: 9999999
        .order_submition_loader__container
            background: #fff
            max-width: 320px
            margin: 100px auto
            text-align: center
            padding-bottom: 15px
            h4
                padding: 15px
                background: #DA5F15
                margin-bottom: 20px
            .order_submition_loader__actions
                display: flex
                flex-flow: row
                justify-content: center
                .sf_btn
                    margin: 0 5px
                    padding: 
                #order_submition_loader__container__close
                    border: 1px solid #000
                    color: #000
                    background: #fff
    .checkout_page_container
        display: flex
        flex-flow: row nowrap
        
        .checkout_form__container
            flex-grow: 1
            max-width: 700px
            width: 100%
            margin: 0 auto
            background: #fafafa
            .checkout_tabs__triggers
                display: flex
                flex-flow: row nowrap
                .tab_trig
                    flex: 1
                    background: #c6c6c6
                    text-align: center
                    color: #858585
                    text-decoration: none
                    cursor: pointer
                    padding: 15px
                    font-size: 20px
                    font-weight: 400
                .tab_trig.active
                    display: block
                    background: #fafafa
                    color: #000
                    font-weight: 600


            .checkout_tabs__content
                .tab_content
                    display: none
                .tab_content.active
                    display: block
                .form_title
                    font-weight: 600
                    margin-bottom: 10px
                    padding-right: 15px
                .delivery_details_content
                    padding-right: 15px

                #checkout_delivery_tab
                    .delivery_options__title
                        font-weight: 600
                        margin-right: 15px
                    .delivery_options__container
                        display: flex
                        flex-flow: row nowrap
                        margin-bottom: 20px
                        border-bottom: 1px solid #000
                        border-top: 1px solid #000
                        padding: 15px
                        margin-top: 15px
                        .delivery_option
                            display: flex
                            flex-flow: row nowrap
                            align-items: center
                            min-width: 200px
                            font-size: 20px
                            font-weight: 500
                            cursor: pointer
                            text-decoration: none
                            color: #000
                            .check-box
                                display: inline-block
                                margin-left: 10px
                                width: 25px
                                height: 25px
                                background: #fff
                                border: 1px solid #000
                                position: relative
                        .delivery_option.active
                            .check-box
                                &:after
                                    content: ''
                                    position: absolute
                                    top: 6px
                                    right: 6px
                                    width: 12px
                                    height: 12px
                                    background: #DA5F15
                    
                    .delivery_option__subtab
                        display: none
                    #delivery_subtab__delivery
                        display: block
                    #delivery_subtab__pickup
                        position: relative
                        img
                            width: 100%
                            max-height: 350px
                            object-fit: cover
                            object-position: center center
                        .pickup_details
                            position: absolute
                            top: 80px
                            right: calc(50% - 155px)
                            text-align: center
                            width: 310px
                            font-size: 14px
                            &:after
                                content: ''
                                background: #DA5F15
                                position: absolute
                                bottom: -7px
                                width: 15px
                                height: 15px
                                transform: rotate(45deg)

                            .top_part
                                background: #fff
                                color: #000
                                padding: 15px
                                h5.title
                                    margin: 0
                                p
                                    margin: 0
                            .bottom_part
                                background: #DA5F15
                                color: #fff
                                padding: 15px 40px
                                p
                                    margin: 0
                                a
                                    color: #fff
                                    font-weight: 600
                                    text-decoration: none
                    .toggle__other_delivery_details_form
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        min-width: 200px
                        font-size: 20px
                        font-weight: 500
                        cursor: pointer
                        text-decoration: none
                        color: #000
                        background: #e9e9e9
                        padding: 15px
                        .check-box
                            background: #fff
                            display: inline-block
                            margin-left: 10px
                            width: 25px
                            height: 25px
                            border: 1px solid #000
                            position: relative

                #delivery_details_form,
                #other_delivery_details_form
                    padding: 15px
                    display: block
                    .form_title
                        font-weight: 600
                        margin-bottom: 10px
                        padding-right: 15px
                .request_address_change
                    background: #e9e9e9
                    display: none
                    padding: 15px
                    .whatsappbtn
                        img
                            height: 40px
                            margin-right: 20px
                #other_delivery_details_form.active
                    display: block

                .register_user
                    background: #faecce
                    padding: 15px
                    color: #9f9682
                    margin: 10px 0
                    .divider
                        background: #000
                    .register_user_from_checkout
                        color: #000
                        cursor: pointer
                .checkout_form_cta
                    margin: 15px 15px 20px

                #checkout_payment_tab
                    .payment_method_message
                        margin-right: 15px
                        position: relative
                        padding-right: 15px
                        &:before
                            content: ''
                            position: absolute
                            top: calc(50% - 4px)
                            right: 0
                            width: 8px
                            height: 8px
                            border-radius: 50%
                            background: #DA5F15
                    .payment_cta
                        display: grid
                        grid-template-columns: repeat(2, auto)
                        gap: 20px
                        
                    .payment_options__container
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        margin-top: 10px
                        .payment_option
                            margin: 15px
                            label
                                img
                                    height: 100%

        // cart_preview__container
        .cart_preview__container
            background: #fff
            width: 420px
            z-index: 99
            direction: rtl
            text-align: right
            margin-right: 20px
            .preview-header
                background: #000
                padding: 15px
                display: flex
                flex-flow: row nowrap
                justify-content: space-between
                align-items: center
                .header-title
                    color: #fff
                    margin: 0
                    font-size: 20px
                    font-weight: 600
                    letter-spacing: .5px
                .cart_popup__close
                    border: 1px solid #fff
                    border-radius: 50%
                    height: 30px
                    width: 30px
                    text-align: center
                    color: #fff
                    font-size: 20px
                    line-height: 35px
                    cursor: pointer
                    transition: all .2s ease-in-out
                    &:hover
                        color: #000
                        border: 1px solid #000
            .warranty_checkbox_group
                color: #000
                input[type="radio"], input[type="checkbox"]
                    display: none
                label
                    padding-right: 0 !important
                    &::before,
                    &::after 
                        display: none
            .cart_summery
                padding: 15px
                font-size: 16px
                .divider
                    opacity: 1
                .sub_summery,
                .discount_summery,
                .total_summery
                    margin: 10px 0
                .total_summery
                    font-size: 18px
                    font-weight: 600
                .go_to_checkout
                    background: #DA5F15
                    font-size: 16px
                .val
                    float: left
            .not_cart_items
                display: none
                font-size: 24px
                padding: 15px
                text-align: center
            .cart_items__container
                padding: 15px
                max-height: 55vh
                overflow: auto
                &::-webkit-scrollbar 
                    width: 4px
                &::-webkit-scrollbar-track 
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) 
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
                &::-webkit-scrollbar-thumb 
                    -webkit-box-shadow: inset 0 0 6px rgba(250,179,29,1)
                    box-shadow: inset 0 0 6px rgba(250,179,29,1)
                .cart_item_box
                    display: flex
                    flex-flow: column
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    margin: 15px 0
                    
                    .parent_cart_item_box,
                    .kid_cart_item_box
                        display: flex
                        flex-flow: row nowrap
                        margin: 10px 0
                        .item_tumbnail
                            img
                                object-fit: cover
                                object-position: center center
                                height: 120px
                                width: 120px
                        .item_info
                            position: relative
                            flex-grow: 1
                            display: flex
                            flex-flow: row wrap
                            padding: 15px
                            padding-top: 5px
                            padding-bottom: 5px
                            .item_titles
                                width: 100%
                                margin-bottom: 15px
                                .item_title
                                    font-weight: bold
                                    font-size: 18px
                                    color: #000
                                    text-decoration: none
                                    flex-grow: 1
                                    input[type='checkbox']
                                        display: none
                                .item_itemid
                                    display: none
                            .item_amount   
                                display: flex
                                flex-flow: row nowrap
                                align-items: center
                                position: relative
                                label
                                    font-size: 16px
                                .form-control
                                    max-width: 80px
                                    margin: 0 10px
                                    &::-webkit-outer-spin-button,
                                    &::-webkit-inner-spin-button
                                        -webkit-appearance: none
                                        margin: 0

                                    /* Firefox */
                                input[type=number] 
                                    -moz-appearance: textfield
                                
                                .loader
                                    display: none
                                    position: absolute
                                    left: 0
                                    .spinner-loader
                                        width: 15px
                                        height: 15px
                            .item_prices
                                display: flex
                                flex-flow: column
                                align-items: center
                                justify-content: center
                                position: relative
                                letter-spacing: -1px
                                margin-bottom: -5px
                                .currency_symbol
                                    font-size: 18px
                                    font-weight: 400
                                .bottomline_price
                                    font-size: 16px
                                    text-align: center
                                    color: #1E1E1E
                                    opacity: .5
                                    margin-top: -10px
                                    .currency_symbol
                                        font-size: 12px
                                .top_price
                                    font-size: 26px
                                    display: flex
                                    align-items: center
                                    .vl 
                                        border-left: 1px solid #000
                                        height: 20px
                                        margin: 0 5px
                                    .base_price
                                        font-weight: 600
                                        margin: 0 5px
                                    .discount_price
                                        font-weight: 600
                                        margin: 0 5px
                                        color: #DA5F15
                                    .old_price
                                        font-weight: 600
                                        color: gray
                                        position: relative
                                        margin: 0 5px
                                        &::after
                                            content: ""
                                            width: 100%
                                            height: 2px
                                            background: #000
                                            position: absolute
                                            top: calc(50% - 5px)
                                            left: 0
                                            right: 0
                                            opacity: .5
                                            transform: rotate(-20deg)
                                        .currency_symbol
                                            font-size: 16px                        
                                .currency_symbol
                                    font-size: 20px
                                    font-weight: 400
                            
                            .remove_cart_item
                                color: #7f7f7f
                                position: absolute
                                top: 5px
                                left: 10px
                                font-size: 16px
                                cursor: pointer
                    
                    .kid_item
                        margin-bottom: 0
                        .gift__img
                            height: 40px
                            margin-top: -10px
                        .parent_cart_item_box
                            position: relative
                            .discount_tag
                                position: absolute
                                top: -10px
                                left: 55px
                                color: #fff
                                font-size: 14px
                                padding: 2px 15px 0
                                background: #DA5F15
                                text-align: center
                                letter-spacing: 1px
                                border-radius: 0 0 10px 10px
                                .discount_tag_num
                                    margin-top: -20px
                                    display: inline-block
                                    font-size: 18px
                                    font-weight: 600

                    .warranty_kid
                        margin: 0 30px 15px 0 !important
                        .item_titles
                            margin-bottom: -5px
                        .item_prices
                            opacity: .5
@media screen and (max-width: 1000px)
    .checkout_page
        .checkout_page_container
            flex-flow: column
            align-items: center
            #checkout_delivery_tab
                .delivery_options__container
                    .delivery_option
                        min-width: 120px !important
            .cart_preview__container
                margin-top: 20px
                margin-right: 0

@media screen and (max-width: 1000px)
    .checkout_page
        .checkout_page_container
            .cart_preview__container
                background: #fff
                width: 100%

@media screen and (max-width: 500px)
    .checkout_page
        padding: 0 !important
@media screen and (max-width: 800px)
    .checkout_page
        .checkout_page_container
            .cart_preview__container
                .cart_items__container
                    .cart_item_box
                        .item_info
                            .remove_cart_item
                                top: 15px !important