#express_order__container
    max-width: 840px
    width: 70%

    
    .express__title 
        font-size: 20px
        font-weight: bold
    .express_order__content
        -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
        padding: 40px
        margin-top: 30px
        background-color: white
    #express_order__added_items
        padding-right: 10px

    .form_title
        font-size: 20px
        margin-bottom: 20px
        font-weight: 600
        
    .added_item_form form .row
        width: 100%
        display: flex
        flex-flow: row
        margin-right: 5px
        .col-input
            display: none
        p
            font-size: 20px
            border: 1px solid #000
            padding: .4rem .8rem
            display: inline-block
            min-width: unset
            width: auto
            margin-bottom: unset
            margin: 0 3px
        #product_itemid__text
            font-weight: 600
            min-width: 120px
            text-align: center
            white-space: nowrap
        #product_itemtitle__text
            flex-shrink: unset
            width: 440px
        #product_amount__text
            white-space: nowrap
            min-width: 100px
        .col-actions
            width: 50px
            display: flex
            align-items: center
    .added_item_form,
    #express_add_item__form
        margin-bottom: 20px
        
        input[type="text"],
        input[type="number"]
            border: 1px solid #000
            border-radius: 0
        #express_add_item__form_submit
            background: none
            border: 2px solid #DA5F15
            color: #DA5F15
            border-radius: 50%
            font-size: 22px
            display: inline-block
            width: 40px
            height: 40px
        .express_added_item__remove_submit
            background: none
            border: 2px solid #B1B1B1
            color: #B1B1B1
            border-radius: 50%
            font-size: 22px
            display: inline-block
            width: 40px
            height: 40px
            transform: rotate(45deg)
        .col
            padding: 0
            margin: 0 10px
        .col-input
            min-width: 40%
        .col-actions
            max-width: 50px
            display: flex
            align-items: center
    
    #express_add_item__form_error
        color: red

    #add_express_items_to_cart
        background: #DA5F15
        color: #fff
        direction: rtl
        border: none
        align-items: center
        cursor: pointer
        font-size: 18px
        padding: 10px 70px
        text-align: center
        margin: 20px 0
        display: inline-block
        img
            height: 25px
            margin-left: 5px
    
    #load_express_items_file
        background: #B1B1B1
        color: #000
        direction: rtl
        border: none
        align-items: center
        cursor: pointer
        font-size: 18px
        padding: 10px 50px
        text-align: center
        margin-top: 20px
        display: inline-block
        img
            height: 25px
            margin-left: 5px
    
    .divider
        margin: 50px 0
    
    .express_from_file__container
        .title
            font-size: 20px
            margin-bottom: 20px
        .actions
            #fileUpload
                display: none
            a
                color: #191919
                display: inline-block
                margin-right: 20px
    
    #file_items_error
        color: red
        margin: 20px 0
    
    #clean_express_items
        text-decoration: underline
        cursor: pointer
        padding: 15px 0
        display: none

    #add_express_order_cart__error
        padding: 15px 0
        color: red
        display: none
.file_loader__overlay
    display: none
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.8)
    z-index: 9999
    .loader_conatiner
        background: #fff
        width: 250px
        position: absolute
        top: 300px
        left: calc(50% - 125px)
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        padding: 20px




@media screen and (max-width: 990px)
    #express_order__container
        .added_item_form
            .col-input
                min-width: 80%
                margin-bottom: 10px
        #express_add_item__form
            .col-input
                min-width: 80%
                margin-bottom: 10px

@media screen and (max-width: 990px)
   .added_item_form form .row
        flex-wrap: wrap !important
        align-items: baseline
        border-bottom: 1px solid rgba(0, 0, 0, 0.3)
        padding-bottom: 15px
        p
            font-size: 16px !important
            padding: .4rem .8rem
            margin: 0 3px
        #product_itemid__text
            min-width: 120px
        #product_itemtitle__text
            flex-shrink: unset
            width: calc(100% - 52px) !important
            order: -1
            margin-bottom: 10px !important
        #product_amount__text
            min-width: 100px !important
            margin-left: 0 !important
            margin-right: auto !important
        .col-actions
            margin: 0 !important
            margin-right: 5px !important
            order: -1
            width: 50px
            .express_added_item__remove_submit
                font-size: 20px !important
                width: 36px !important
                height: 36px !important
@media screen and (max-width: 450px)
    .added_item_form form .row
        flex-wrap: wrap !important
        border-bottom: 1px solid rgba(0, 0, 0, 0.3)
        padding-bottom: 15px
        p
            font-size: 16px !important
            padding: .2rem .4rem !important
            margin: 0 3px
        #product_itemid__text
            width: 100px !important
            min-width: unset !important
            font-size: 15px !important
        #product_itemtitle__text
            width: calc(100% - 40px) !important
            font-size: 15px !important
        #product_amount__text
            width: 80px !important
            min-width: unset !important
            font-size: 15px !important
            margin-left: 0 !important
        .col-actions
            margin: 0 !important
            margin-right: 5px !important
            order: -1
            width: 30px !important
            max-width: 30px !important
            .express_added_item__remove_submit
                font-size: 15px !important
                width: 28px !important
                height: 28px !important
@media screen and (max-width: 800px)
    #express_order__container
        max-width: 100%
        width: 100%

    #add_express_items_to_cart
        margin: 20px auto !important
        display: block !important
        white-space: nowrap
        padding: 10px  !important
        width: 100% !important
    #load_express_items_file
        font-size: 18px
        white-space: nowrap
        padding: 10px !important
        width: 100% !important
    .express_from_file__container
        .actions
            text-align: center
            a
                margin-top: 10px
                margin-right: unset !important
    #clean_express_items
        display: block !important
        text-align: center !important
        margin-top: -50px