.somfy-product__container
    direction: rtl !important
    text-align: right
    .product_info__container
        width: 100%
        margin: 20px auto
        margin-bottom: 90px
        .thumbnail__container
            position: relative
            width: 450px
            height: 450px
            .products_images__slider
                background: #fff
                height: 100%
                width: 100%

            .dicount_tag
                z-index: 9
                position: absolute
                top: 0
                background: #DA5F15
                color: #fff
                right: 20px
                border-radius: 0 0 10px 10px
                padding: 2px 15px 5px
                font-size: 32px
                text-align: center
                line-height: 25px
                font-weight: 600
                .tag__title
                    line-height: 12px
                    font-size: 20px
                    font-weight: 400
        .products_images__slider
            direction: ltr
             -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
            height: 100%
            div
                width: 100%
                height: 100%
                .image_slide_container
                    width: 100%
                    height: 100%
                    display: flex
                    align-items: center
                    justify-content: center
                    img
                        object-fit: cover
                        object-position: center center
                        margin: 0 auto
                        max-height: 320px
                        width: auto
                        max-width: 320px
            .slick-slide
                left: 0 !important
            .slick-dots
                position: absolute
                bottom: -50px
                left: 0
                right: 0
                list-style: none
                padding: 0
                display: flex
                flex-flow: row nowrap
                justify-content: center
                li
                    padding: 1px 0
                    border-radius: 50%
                    display: grid
                    justify-content: center
                    align-items: center
                    transition: all 0.3s ease-in-out
                    button
                        background: #ddd
                        border: none
                        height: 15px
                        width: 15px
                        margin: 0 7px
                        border-radius: 50%
                        text-indent: -9999em
                        transition: all 0.3s ease-in-out

                li.slick-active
                    padding: 0
                    button
                        background: #DA5F15
        .product_tumb__container
            flex: 1
            margin-bottom: 20px
            img
                object-fit: cover
                object-position: center center
                margin: 0 auto
                height: 320px
                max-width: 320px
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        .product_meta__container
            padding: 0 20px
            max-width: 690px
            width: 57%

            .product_sku
                margin: 0
                font-size: 18px
                color: #a3a3a3
            .product_title
                font-size: 32px
                font-weight: 600

            .product_short-desc
                text-align: right
                td, th, p
                    direction: rtl !important
            .product_icons-container
                display: flex
                flex-flow: row
                .product_icon
                    display: flex
                    flex: 1
                    flex-flow: row nowrap
                    align-items: center
                    .icon_box
                        width: 40px
                        .icon_img
                            width: 100%
                            height: auto
                            
                    .icon_titles
                        margin-right: 10px
                        .icon_title
                            font-size: 18px
                            margin: 0
                        .icon_subtitle
                            font-size: 12px
                            color: #a3a3a3
                            margin: 0
            
            .add_warranty_to_product__container
                margin: 40px 0
                display: flex
                flex-flow: row wrap
                align-items: center
                
                .warranty_input_group,
                .warrany_price,
                .product_cta-amount
                    margin: 0 20px
                .product_cta-amount
                    display: flex
                    flex-flow: row
                    align-items: center
                    input[type="number"]
                        margin-right: 10px
                .warranty_input_group
                    margin-top: 10px !important
                    margin-right: 0
                    label
                        font-size: 18px
                        font-weight: 600

                .warrany_price
                    font-size: 30px
                    font-weight: 600
                    opacity: .4
                .warrany_desc
                    width: 100%
            .product_cta-container
                flex-flow: row nowrap
                display: flex
                align-items: center
                margin: 30px auto
                
                .product_mobile-preview
                    display: none
                .product_cta-amount
                    display: flex
                    flex-flow: row
                    align-items: center
                    .form-control
                        width: 60px
                        margin-right: 10px
                .product_cta-price
                    display: flex
                    flex-flow: column
                    align-items: center
                    justify-content: center
                    position: relative
                    letter-spacing: -1px
                    min-width: 200px
                    .currency_symbol
                        font-size: 23px
                        font-weight: 400
                    .bottomline_price
                        font-size: 16px
                        color: #1E1E1E
                        opacity: .5
                        margin-top: -15px
                        .currency_symbol
                            font-size: 12px
                    .top_price
                        font-size: 40px
                        display: flex
                        align-items: center
                        .vl 
                            border-left: 1px solid #000
                            height: 30px
                            margin: 0 5px
                        .base_price
                            font-weight: 600
                            margin: 0 5px
                        .discount_price
                            font-weight: 600
                            margin: 0 5px
                            color: #DA5F15
                        .old_price
                            font-weight: 600
                            color: gray
                            position: relative
                            margin: 0 5px
                            &::after
                                content: ""
                                width: 100%
                                height: 2px
                                background: #000
                                position: absolute
                                top: calc(50% - 5px)
                                left: 0
                                right: 0
                                opacity: .5
                                transform: rotate(-20deg)
                            .currency_symbol
                                font-size: 16px
                    // .base_price
                    //     font-size: 50px
                    //     font-weight: 500
                    // .discount_price
                    //     font-size: 50px
                    //     font-weight: 500
                    //     position: relative
                    //     .old_price
                    //         font-weight: 500
                    //         color: gray
                    //         position: absolute
                    //         top: -15px
                    //         right: 0
                    //         font-size: 20px
                    //         &::after
                    //             content: ""
                    //             width: 100%
                    //             height: 2px
                    //             background: #000
                    //             position: absolute
                    //             top: 50%
                    //             left: 0
                    //             opacity: .5
                    //             transform: rotate(10deg)
                    //         .currency_symbol
                    //             font-size: 16px    
                    // .currency_symbol
                    //     font-size: 30px
                    //     font-weight: 400
                .product_cta-add-to-cart
                    .add_to_cart__cta
                        padding: 10px 25px
                        img
                            height: 25px
                            margin-left: 10px
        .product_add-warranty__container
            flex: 1
            text-align: center
            .warrany_card__desktop
                padding: 20px
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                .add-warranty__img
                    height: 70px
                    object-fit: cover
                    object-position: center center
                    margin: 0 auto
                    display: block
                .add-warranty__title
                    margin: 20px auto
                    font-weight: 600 
                .add-warranty__text
                    font-size: 18px

                .warranty-price
                    font-size: 45px
                    font-weight: 600 
                    color: #DA5F15
                    margin: 0 !important
                    .currency_symbol
                        font-size: 25px
                .divider
                    margin: 15px -20px
                .add-warranty-cta
                    font-size: 20px

            .warrany_card__mobile
                display: none
                padding: 20px
                max-width: 500px
                box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                .card_header
                    display: flex
                    flex-flow: row
                    align-items: center
                    .add-warranty__img
                        height: 50px
                        object-fit: cover
                        object-position: center center
                        margin: 0 auto
                        display: block
                    .card_content
                        text-align: right
                        padding-right: 15px
                        .add-warranty__title
                            margin: 0px auto 15px
                            font-weight: 600 
                        .add-warranty__text
                            font-size: 18px
                            margin: 0
                .add-warranty-cta
                    font-size: 20px
                    display: flex
                    flex-flow: row
                    align-items: center
                    justify-content: space-between
                    .warranty-price
                        font-size: 30px
                        font-weight: 600 
                        color: #DA5F15
                        margin: 0 !important
                        .currency_symbol
                            font-size: 25px
                .divider
                    margin: 15px -20px
                
    .product-tabs__container
        width: 100%
        margin: 20px auto
        .product-tabs__triggers
            list-style: none
            padding: 0
            margin: 0
            display: flex
            flex-flow: row wrap
            border-bottom: 1px solid #000
            .tab-trigger__box
                height: auto
                margin-top: -15px
                .trigger-link
                    display: block
                    cursor: pointer
                    padding: 12px 40px
                    font-size: 20px
                    color: #000
                    text-decoration: none
                .trigger-link.active
                    background: #1D1A34
                    color: #fff
        .product-tabs__content
            .tab-content__container
                padding: 20px 0
                display: none
                td, th, p
                    direction: rtl !important

                .tab_section
                    margin-bottom: 20px
                    .title
                        font-weight: 600
            .tab-content__container.active
                display: block
            
            .product_promotional_video__container,
            .product_training_video__container
                display: flex 
                flex-flow: row wrap
                justify-content: center
                margin-bottom: 20px
                iframe
                    flex: 1
                    max-width: 100%
                    min-width: 40%
                    margin: 15px

            #tab_dateils
                ul
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        padding: 3px 0
                        span
                            font-weight: 600

            .product_files__container
                
                .files__container
                    display: flex 
                    flex-flow: row wrap

                .file__button
                    display: flex 
                    flex-flow: row
                    align-items: center
                    background: #fff
                    padding: 15px
                    margin: 15px
                    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    color: #000
                    text-decoration: none
                    img
                        height: 35px
                        margin-left: 15px
@media screen and (max-width: 1100px)
    .somfy-product__container
        .product_info__container
            flex-flow: column
            max-width: 100%
            align-items: center

            .product_tumb__container
                margin-bottom: 20px
            .product_meta__container
                flex: auto
                width: 100%

                .product_cta-container
                    justify-content: center
                    position: fixed
                    bottom: 0
                    right: 0
                    left: 0
                    margin-bottom: 0
                    padding: 30px 20px 20px
                    background: #fff
                    z-index: 99999
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2)
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2)
                    .product_mobile-preview
                        display: block
                        margin-left: 10px
                        img
                            object-fit: cover
                            object-position: center center
                            margin: 0 auto
                            height: 70px
                            max-width: 70px
                            -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
                    .product_cta-amount
                        display: flex
                        flex-flow: row
                        align-items: center
                        margin-left: 10px
                        .form-control
                            max-width: 80px
                            margin-right: 10px
                    .product_cta-price
                        margin-left: 10px
                        min-width: 100px
                        .base_price
                            font-size: 30px
                        .discount_price
                            font-size: 30px
                            .old_price
                                top: -10px
                                right: 0
                                font-size: 16px
                                .currency_symbol
                                    font-size: 12px    
                        .currency_symbol
                            font-size: 20px
            .warrany_card__desktop
                display: none !important
            .warrany_card__mobile
                display: block !important


@media screen and (max-width: 800px)
    .somfy-product__container
        .product-tabs__container
            margin-top: 0
            margin-bottom: 0

            .product-tabs__triggers
                .tab-trigger__box
                    width: 100%
                    margin-top: 0
            
        .product_info__container
            .thumbnail__container
                width: 450px
                height: 450px
                
            .products_images__slider
                div
                    .image_slide_container
                        img
                            max-height: 320px
                            width: auto
                            max-width: 320px

    
@media screen and (max-width: 500px)
    .somfy-product__container
        .product-tabs__container
            .product_promotional_video__container,
            .product_training_video__container
                justify-content: center
                margin-bottom: 20px
                iframe
                    flex: unset !important

        .product_info__container
            flex-flow: column-reverse !important
            .product_meta__container
                margin-bottom: 20px
                .product_cta-container
                    .product_mobile-preview
                        margin-left: 10px
                        img
                            height: 40px
                            max-width: 40px
                    .product_cta-add-to-cart
                        .add_to_cart__cta
                            padding: 8px 12px !important
                            font-size: 14px !important
                            img
                                height: 20px !important
                                margin-left: 5px !important
                
                .product_icons-container
                    flex-flow: row wrap !important
                    justify-content: space-around !important
                    .product_icon
                        margin: 10px 0
                        .icon_box
                            width: 40px
                                
                        .icon_titles
                            .icon_title
                                white-space: nowrap
                                font-size: 16px
                            .icon_subtitle
                                white-space: nowrap
                                font-size: 12px
            
            .thumbnail__container
                width: 260px
                height: 260px
                
            .products_images__slider
                div
                    .image_slide_container
                        img
                            max-height: 260px
                            width: auto
                            max-width: 260px
@media screen and (max-width: 450px)
    .somfy-product__container
        .product_info__container
            .product_meta__container
                .product_cta-container
                    flex-flow: row wrap
                    .product_cta-add-to-cart,
                    .product_cta-price
                        margin-top: 20px