#product_preview_popup
    .popup__container
        position: sticky
        width: auto
        max-width: 800px
        margin: 150px auto
        top: unset
        left: unset
    .product_preview_popup__close
        color: #000
        top: 5px
        left: 5px
        font-size: 16px
        width: 20px
        height: 20px
        line-height: 18px
        border: 1px solid #000
        opacity: .5
        transition: all .2s ease-in-out
        &:hover
            border: 1px solid #DA5F15
            color: #DA5F15
            opacity: 1


    #product_preview_popup__content
        display: flex
        flex-flow: row
        align-items: stretch
        padding: 5%

        .product-thumbnail-col
            text-align: center
            position: relative
            .product-thumbnail
                object-fit: cover
                object-position: center center
                margin: 0 auto
                height: 310px
                width: auto
                max-width: 310px
            .wishlist_cta
                top: 10px
                opacity: 1
            .dicount_tag
                z-index: 999
                position: absolute
                top: 0
                background: #DA5F15
                color: #fff
                right: 20px
                border-radius: 0 0 10px 10px
                padding: 2px 20px
                padding-bottom: 5px
                font-size: 32px
                line-height: 25px
                font-weight: 600
                .tag__title
                    line-height: 12px
                    font-size: 20px
                    font-weight: 400
        
        .product_info_container
            width: 100%
            display: flex
            flex-flow: column
            justify-content: space-between
        .product-meta-container
            height: 60px
            text-align: right
            direction: rtl
            margin-top: 15px
            .product-title
                font-size: 20px
                color: #000
                text-decoration: none
            
        .divider
            margin: 5px 0 15px 0
        
        .product-cta-container
            width: 100%
            display: flex
            flex-flow: row-reverse
            justify-content: space-between
            align-items: center
            text-align: right
            direction: rtl
            .product-cta
                .add_to_cart__cta 
                    width: 100%
                    font-size: 16px
                    padding: 8px 20px

            .item_amount
                display: flex
                flex-flow: row
                input
                    margin-right: 15px

            .product-price
                display: flex
                flex-flow: column
                align-items: center
                justify-content: center
                position: relative
                letter-spacing: -1px
                .currency_symbol
                    font-size: 18px
                    font-weight: 400
                .bottomline_price
                    font-size: 16px
                    color: #1E1E1E
                    opacity: .5
                    margin-top: -10px
                    margin-bottom: 15px
                    .currency_symbol
                        font-size: 12px
                .top_price
                    font-size: 30px
                    display: flex
                    .vl 
                        border-left: 1px solid #000
                        height: 70%
                        margin: 5px 5px
                    .base_price
                        font-weight: 600
                        margin: 0 5px
                    .discount_price
                        font-weight: 600
                        margin: 0 5px
                        color: #DA5F15
                    .old_price
                        font-weight: 600
                        color: gray
                        position: relative
                        margin: 0 5px
                        &::after
                            content: ""
                            width: 100%
                            height: 2px
                            background: #000
                            position: absolute
                            top: calc(50% - 5px)
                            left: 0
                            right: 0
                            opacity: .5
                            transform: rotate(-20deg)
                        .currency_symbol
                            font-size: 16px