.product-card
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
    padding: 20px
    display: flex
    flex-flow: column
    justify-content: space-between  
    position: relative
    width: 284px
    background: #fff
    width: 23.5%
    margin-bottom: 20px
    margin-left: 2%
    &:nth-of-type(4n+0)
        margin-left: 0
        


    .product-thumbnail-col
        text-align: center
        .product-thumbnail
            object-fit: cover
            object-position: center center
            margin: 0 auto
            height: auto
            width: 100%
            max-width: 210px
        .wishlist_cta
            top: 10px
            left: 10px
        .product_preview_cta
            top: 10px
            left: 45px
            cursor: pointer
            position: absolute
            font-size: 25px
            color: #000
            opacity: .3
            transition: all .2s ease-in-out
            &:hover
                opacity: 1
                color: #DA5F15
        .dicount_tag
            z-index: 999
            position: absolute
            top: 0
            background: #DA5F15
            color: #fff
            right: 20px
            border-radius: 0 0 10px 10px
            padding: 2px 20px
            padding-bottom: 5px
            font-size: 32px
            line-height: 25px
            font-weight: 600
            .tag__title
                line-height: 12px
                font-size: 20px
                font-weight: 400
            
    .product-meta-container
        height: 60px
        text-align: right
        direction: rtl
        margin-top: 15px
        .product-title
            font-size: 16px
            color: #000
            text-decoration: none
        
    .divider
        margin: 5px 0 15px 0
    .product-cta-container
        width: 100%
        display: flex
        flex-flow: column-reverse
        justify-content: space-between
        align-items: center
        text-align: right
        direction: rtl
        .product-cta
            width: 100%
            .add_to_cart__cta 
                width: 100%

        .product-price
            display: flex
            flex-flow: column
            align-items: center
            justify-content: center
            position: relative
            letter-spacing: -1px
            .currency_symbol
                font-size: 23px
                font-weight: 400
            .bottomline_price
                font-size: 16px
                color: #1E1E1E
                opacity: .5
                margin-bottom: 15px
                .currency_symbol
                    font-size: 12px
            .top_price
                font-size: 30px
                display: flex
                .vl 
                    border-left: 1px solid #000
                    height: 70%
                    margin: 5px 5px
                .base_price
                    font-weight: 600
                    margin: 0 5px
                .discount_price
                    font-weight: 600
                    margin: 0 5px
                    color: #DA5F15
                .old_price
                    font-weight: 600
                    color: gray
                    position: relative
                    margin: 0 5px
                    &::after
                        content: ""
                        width: 100%
                        height: 2px
                        background: #000
                        position: absolute
                        top: calc(50% - 5px)
                        left: 0
                        right: 0
                        opacity: .5
                        transform: rotate(-20deg)
                    .currency_symbol
                        font-size: 16px



@media screen and ( max-width: 990px  )
    .product-card
        width: 32%
        &:nth-of-type(3n+0)
            margin-left: 0
        &:nth-of-type(4n+0)
            margin-left: 2%
            

@media screen and ( max-width: 800px  )
    .product-card
    

        .product-thumbnail-col
            .product_preview_cta
                font-size: 20px
@media screen and ( max-width: 768px  )
    .product-card
        width: 48.5%
        &:nth-of-type(3n+0)
            margin-left: 2%
        &:nth-of-type(4n+0)
            margin-left: 0
        &:nth-of-type(2n+0)
            margin-left: 0

@media screen and ( max-width: 550px )
    .product-card
        width: 100%
        margin-left: 0