.releated_products__container
    width: 100%
.releated_products__slider
    padding: 0 10px
    margin: 0 auto 50px auto
    direction: ltr
    .slick-slide
        text-align: center
        height: 100%
    .slick-next
        right: 0
    .slick-prev
        left: 0
    .product-slide
        max-width: 300px
        margin: 10px auto
        padding: 10px
        // direction: rtl
        .product-thumbnail-col
            position: relative
            .product-thumbnail
                height: 210px
                width: 100%
            .wishlist_cta
                top: unset
                bottom: -40px
        .product-meta-container
            height: 60px
            .product-title
                font-size: 16px

        .product-cta-container
            width: 100%
            display: flex
            flex-flow: column-reverse
            justify-content: space-between
            align-items: center
            text-align: right
            direction: rtl
            .product-cta
                width: 100%
                .add_to_cart__cta 
                    width: 100% !important
                    img
                        display: inline-block
            .product-cta
                .add_to_cart__cta
                    width: 125px
                    padding: 8px 12px
                    font-size: 14px
                    img
                        height: 20px
                        margin-left: 5px

            .product-price
                .currency_symbol
                    font-size: 18px
                .base_price
                    font-size: 30px
                .discount_price
                    font-size: 30px
                .old_price
                    font-weight: 600
                    font-size: 20px
                    .currency_symbol
                        font-size: 16px

@media screen and (max-width: 800px)
    .releated_products__slider
        justify-content: center