#remote_popup
    display: none

    .popup__container
        display: flex
        flex-flow: column
        align-items: center
        padding: 25px 20px 30px
        .popup__img
            width: 135px
            margin-bottom: 25px
        
        .popup__title
            font-size: 35px
            margin-bottom: 25px
            font-weight: 600

        .popup__desc
            font-size: 18px
            max-width: 380px
            text-align: center
            span
                font-weight: 600

        hr
            width: 90%
            color: #DA5F15
            opacity: 1
            height: 1px

        .popup__actions
            display: flex
            flex-flow: row
            button
                width: 160px
                padding: 10px 40px
                margin: 20px

            .sf_btn-light
                border-color: #DA5F15
                color: #DA5F15


    #remote_card__container
        display: flex
        flex-flow: row
        align-items: center
        padding: 5px
        padding-bottom: 15px
        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2)
        max-height: 130px
        width: 100%
        max-width: 380px
        .product-thumbnail-col
            text-align: center
            height: 100px
            margin-left: 10px
            .product-thumbnail
                object-fit: cover
                object-position: center center
                margin: 0 auto
                height: 100px
                width: auto
                max-width: 100px
        
        .product_info_container
            width: 100%
            display: flex
            flex-flow: column
            justify-content: space-between
        .product-meta-container
            height: 60px
            text-align: right
            direction: rtl
            margin-top: 15px
            p
                pmargin: 0
                font-size: 13px
                margin-bottom: -7px
                opacity: .5
            .product-title
                font-size: 20px
                font-weight: 600
                color: #000
                text-decoration: none
        
        .item_amount
            display: flex
            flex-flow: row
            align-items: center
            input
                border: 1px solid #000
                border-radius: 0
                margin-right: 15px
                max-width: 50px
