.selected_products
    margin-bottom: 100px
    .selected_products_slider
        .slick-prev
            left: 0
        .slick-next
            right: 0

        .slick-slide
            text-align: center

        .product-slide_container
            padding: 0 10px
            