

#stock_notifictaion_signup,
#stock_notifictaion_maxamount_signup
    display: flex
    align-items: center
    flex-flow: column
    justify-content: center
    #stock_notifictaion_signup__form,
    #stock_notifictaion_maxamount_signup__form
        display: flex
        flex-flow: column nowrap
        width: 60%
        justify-content: space-between


        input
            margin-top: 20px
            &:first-child
                margin-top: 0

        input[type=submit]
            background: #DA5F15
            color: #000
            border: none
            padding: 10px 40px
            cursor: pointer
            font-size: 18px
            font-weight: 400
            margin-bottom: 20px
            width: 100%
            transition: all 0.2s ease-in-out
            &:hover
                color: #fff

        input[type=email],
        input[type=tel],
        input[type=text]
            flex-grow: 1
            padding: 7px 12px
            font-size: 20px

        input[type=submit]:disabled,
        input[type=submit][disabled]
            cursor: not-allowed

        #stock_notifictaion__form_loader,
        #stock_notifictaion_maxamount__form_loader
            display: none
            width: 120px

    #stock_notifictaion__submit_msg,
    #stock_notifictaion_maxamount__submit_msg
        // display: none
        width: 100%
    #stock_notifictaion__submit_msg.success_msg,
    #stock_notifictaion_maxamount__submit_msg.success_msg
        color: #000
        text-align: center
        font-size: 20px
    #stock_notifictaion__submit_msg.error_msg,
    #stock_notifictaion_maxamount__submit_msg.error_msg
        color: red
        font-size: 16px
        margin-top: 10px
            
@media screen and (max-width: 800px)

    #stock_notifictaion_signup,
    #stock_notifictaion_maxamount_signup
        #stock_notifictaion_signup__form,
        #stock_notifictaion_signup_maxamount__form
            display: flex
            flex-flow: column
            width: 100%
            align-items: center

            input[type=submit]
                margin-right: 0
                width: 220px
            
            input[type=email]
                width: 100%
                margin-bottom: 20px
