#orders_history__container
    .order_cell
        opacity: 0.5
.account_orders_history__container
    direction: rtl
    td
        border: 1px solid #00000061
    #account_orders__loader
        // display: none
        text-align: center
    #no_orders__message.hidden,
    #error_getting_data.hidden
        display: none !important

    #no_orders__message,
    #error_getting_data
        text-align: center
        color: #000
        font-size: 24px
        margin: 20px auto !important
        display: block
    .orders_resultes__container
        display: none
        color: #000000
        text-align: right
        margin-right: 15px
        .main-title
            color: #000000
            font-weight: 600

        .orders_container
            margin: 30px 0

            .results_header
                direction: rtl
                display: flex
                flex-flow: row
                align-items: center
                justify-content: space-between
                margin: 10px 0
                .title
                    font-size: 24px
                    font-weight: 600
                .sorting_filters_container
                    display: flex
                    flex-flow: row
                    align-items: center
                    .title
                        font-weight: 400
                        font-size: 16px
                        margin: 0 0 0 15px !important
                        display: inline-block
                    .sf_btn
                        margin: 0 5px
            .results
                direction: rtl
                overflow-y: scroll
                td.order_status
                    line-height: 1.5
                    padding-top: 5px
                th
                    border: 1px solid #00000061
                table
                    min-width: 800px
                    td
                        padding: 5px
                        text-align: center
                        line-height: 1.5
                    .thead-dark
                        th
                            font-weight: 100
                            font-size: 17px
                            text-align: center
                        th.order_status
                            width: 50px 
                        th.order_actions
                            width: 30%
                        td.order_actions
                            text-align: center
                        th.order_track
                        th.order_status
                            width: 130px


                    .thead-dark
                        background: #1D1A34
                        color: #fff
                    .order_actions
                        // display: flex
                        // flex-flow: row wrap
                        // justify-content: flex-start
                        // align-items: center
                        .sf_btn
                            margin: 5px
                            width: 46%
                            font-size: 17px
                            padding: 10px 20px
                            display: inline-block
                            vertical-align: middle
                            height: 50px
                            line-height: 30px
                            min-width: 140px
                        .show_order_items
                            background: #C5C5C5
                            color: #fff
                        .order_again_btn
                    .delivery_rec
                        color: #000
                        text-align: right
                        white-space: nowrap
                    .nowrap
                        white-space: nowrap
                    .paid_lb,
                    .not_paid_lb
                        font-size: 16px
                        font-weight: bold
                    .paid_lb
                        color: #C5C5C5
                    tbody
                        th
                            .show_order_items
                                cursor: pointer
                                color: #000
#order_details_popup
    .popup__container
        padding: 0 15px
        padding-bottom: 20px
        max-width: 840px
        width: 100%
        right: calc(50% - 420px)
        margin-bottom: 50px

        #order_details_popup__close
            color: #000
            border-color: #000
        .container_header
            h2
                background: none
                color: #000
                border-bottom: 1px solid #000
                #order_details__order_tranid
                    color: #DA5F15

        #order_details__results
            display: none
            .order_status
                background: #fef4dd
                display: inline-block
                padding: 10px 15px
                color: #000
                font-weight: 600
                font-size: 18px
                min-width: 120px
                margin-bottom: 10px
                #order_details__order_status
                    font-weight: 400
            .order_inv
                background: #fef4dd
                display: inline-block
                padding: 10px 15px
                color: #000
                font-weight: 600
                font-size: 18px
                width: 200px
                margin-bottom: 10px
                ul
                    list-style: none
                    margin: 0
                    padding: 0
                    .inv
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        .loader
                            visibility: hidden
                            margin-right: 40px
                            .spinner-loader
                                width: 25px
                                height: 25px

                    .inv_file_download
                        color: #000
                        cursor: pointer
                        display: flex
                        flex-flow: row nowrap
                        align-items: center
                        i
                            padding-right: 20px
            .inv_download_error
                color: red
                display: none       
            .table_wraper
                overflow-x: scroll     
            #order_details__orderitems
                min-width: 450px
                .order_details__total
                    font-weight: bold
                    margin: 20px 0
                .thead-dark
                        background: #1D1A34
                        color: #fff
                td, th
                    border: 1px solid #0000002d
                    a
                        color: #000
                td:last-child
                    white-space: nowrap
            .order_details__summery
                margin-right: auto
                width: 50%
                color: #000
                .order_details__subtotal,
                .order_details__cat_total,
                .order_details__total
                    display: flex
                    flex-flow: row
                    justify-content: space-between
                    align-items: center
                    font-size: 17px
                    span
                        font-size: 20px
                .order_details__cat_total
                    opacity: .5
                .order_details__total
                    font-weight: 600
                .order_again_btn
                    margin-top: 30px
                    display: inline-block
                    margin-right: auto
                    font-size: 17px
                    padding: 10px 30px

    #order_details__loader
        text-align: center


@media screen and (max-width: 800px)
    .account_orders_history__container
        .orders_resultes__container
            .orders_container
                .results_header
                    flex-flow: column
                .results
                    td.order_actions
                        line-height: 2.5
                        padding: 5px 0
                        .sf_btn 
                            padding: 5px !important
                            height: auto
                            margin: 0 !important
                            font-size: 14px !important
                            line-height: 20px !important
    #order_details__results
        .order_details__summery
            width: 100% !important