.wishlist_cta
    cursor: pointer
    position: absolute
    top: 10px
    left: 10px
    font-size: 25px
    color: #000
    opacity: .3
    transition: all .2s ease-in-out
    &:hover
        opacity: 1
        color: #DA5F15
.wishlist_cta.active
    opacity: 1
    color: #DA5F15
    &:hover
        color: #000
#wishlist__trigger
    width: 40px
    text-align: center
    padding: 0 5px
#wishlist__trigger.with-items
    &::after
        content: ''
        position: absolute
        top: 9px
        right: -2px
        background: #DA5F15
        border-radius: 50%
        width: 15px
        height: 15px

.container.wishlist
    direction: rtl
    text-align: right
    #total_wishlist_results
        display: none
        font-size: 14px
        margin-top: 20px
        margin-bottom: -20px
        float: left
    #wishlist_results_container
        margin: 20px 0
        #wishlist_results
            display: flex 
            flex-flow: row wrap
            margin: 20px auto
            justify-content: flex-start
        #wishlist_no_results_msg
            display: none
            text-align: center
            margin: 0 auto
            font-size: 30px
        #wishlist_loader
            margin: 20px 0
            display: none

@media screen and ( max-width:768px )
    .container.wishlist
        #total_wishlist_results
            float: none
            width: 100%
            margin-bottom: 10px


@media screen and (max-width: 800px)
    .wishlist_cta
        font-size: 20px
        