#categories_nav
    z-index: 1
    background: #fff
    padding: 100px 0 0
    width: 270px !important
    min-width: 270px !important
    direction: rtl
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
    .categories-links
        list-style: none
        padding: 0
        display: flex
        flex-flow: column
        .category_link__inactive
            cursor: not-allowed
            .menu_link
                opacity: 0.5
                cursor: not-allowed
        .category_link
            cursor: pointer
            position: relative
            .menu_link
                text-decoration: none
                font-size: 18px
                padding: 20px 15px
                display: flex
                align-items: center
                position: relative
                color: #000
                transition: all 0.2s ease-in-out
                span
                    padding-right: 45px
                img
                    position: absolute
                    height: 35px
                    max-width: 35px
                    object-fit: fit
                    object-position: center center
                img.active
                    display: none
        .category_link.active
            .menu_link
                color: #ffffff
                background: #DA5F15
                img
                    display: none
                img.active
                    display: block !important
    .megamenu__subgroups_container
        position: absolute
        display: none
        top: 0
        bottom: 0
        right: 270px
        min-width: 250px
        
        .megamenu__container
            display: flex
            flex-flow: column
            background: #fff
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)

            .megamenu__subgroups_links_container
                .subgroup_link__container__inactive
                    cursor: not-allowed
                    opacity: 0.5
                    a
                        cursor: not-allowed

                .subgroup_link__container
                    border-top: 1px solid #000
                    padding: 20px 15px
                    transition: all 0.2s ease-in-out
                    a
                        display: flex
                        justify-content: space-between
                        align-items: center
                        text-decoration: none
                        font-size: 18px
                        color: #000
                        transition: all 0.2s ease-in-out
                        i
                            transition: all 0.2s ease-in-out

                .subgroup_link__container.active,
                .subgroup_link__container:hover
                    background: #b2b2b2
                    a
                        color: #fff !important
                        i
                            transform: rotate(180deg)
                .subgroups_links__tab
                    display: none
                    .sub_subgroup_link__container__inactive
                        opacity: 0.5
                        cursor: not-allowed
                        a
                            cursor: not-allowed
                    .sub_subgroup_link__container
                        a
                            text-decoration: none
                            font-size: 18px
                            color: #000
                            transition: all 0.2s ease-in-out
                            display: block
                            padding: 15px
                            &:hover
                                color: #DA5F15

            .megamenu__banner_container
                a
                    img
                        object-fit: cover
                        object-position: center center
                        width: auto
                        height: 200px

    .somfy_side_nav
        border-top: 1px solid #000
        margin-bottom: 70px
        .side_nav__title
            font-size: 20px
            font-weight: bold
        h3
            font-size: 22px
            font-weight: 600
            margin: 20px 15px -20px 0
        .side_nav__links_list
            list-style: none
            padding: 0
            margin-top: 30px
            
            .side_nav__item
                height: 60px
                background: #fff
                margin: 7px 0
                a
                    display: flex
                    flex-flow: row
                    text-decoration: none
                    align-items: center
                    width: 100%
                    height: 100%
                    
                .side_nav__item_title
                    padding: 0 15px
                    color: #000
                    display: flex
                    flex-flow: row
                    align-items: center
                    flex-grow: 1
                    justify-content: space-between
                    transition: all 0.2s ease-in-out
                    &:hover
                        color: #DA5F15
                    i
                        color: #DA5F15
                .side_nav__item_icon
                    height: 60px
                    width: 70px
                    display: flex
                    flex-flow: row
                    align-items: center
                    justify-content: center
                    img
                        height: 40px

@media screen and (max-width: 1200px)

    #categories_nav
        display: none
