#side_nav
    font-size: 28px
    position: relative
    padding-top: 20px
    width: 25%
    margin-right: 30px
    .side_icon.updates_link
            padding-top: 6px

        
    .side_icon
        display: inline-block
        background: #fff
        color: #000
        position: relative
        padding: 0 5px
        img
            height: 30px
            cursor: pointer
    #user-menu__trigger
        color: #000
        text-decoration: none
        cursor: pointer
        margin-right: 0
        display: flex
        flex-flow: row
        align-items: center
        padding-top: 10px
        span
            font-size: 18px
            word-wrap: break-word
            overflow: hidden
            max-height: 30px
            margin-right: 8px
            display: inline-block
            text-align: right
        img
            background: #fff
            border-radius: 50%
            padding: 0
            width: 30px
            height: 30px
    #user-menu__trigger.side_icon__active
        img
            position: relative
            background: none
        &:before
            position: absolute
            content: ''
            width: 40px
            height: 40px
            background: #DA5F15
            top: 3px
            right: 0px
            border-radius: 50%
    .user-menu__dropdown
        display: none
        z-index: 999999
        position: absolute
        top: 50px
        right: 0
        min-width: 180px
        background: #fff
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
        border: 1px solid #d7d7d7
        text-align: right
        direction: rtl

        .menu-list
            list-style: none
            padding: 10px
            margin: 0
            .divider
                color: #000
                margin: 2px auto
            .nav-item 
                font-size: 20px
                padding: 5px 10px
                a
                    color: #000
                    text-decoration: none
        
        .not_logged
            direction: rtl
            text-align: right
            padding: 15px
            min-width: 320px
            input[type=text], input[type=password]
                border: 1px solid #000 !important
            .um-icon-android-checkbox-outline
                color: #DA5F15
            .um-button
                border-radius: 0 !important
                background: #DA5F15
                font-size: 18px
                color: #fff
                &:hover
                    color: #000

            #um-submit-btn
                width: 100% !important
            .um-link-alt
                text-align: right
            .divider
                color: #000
            .register_title, .login_title
                font-size: 22px
                margin: 15px auto
            .register_text
                font-size: 16px
                font-weight: 400
            .register_btn
                font-size: 18px

@media screen and (max-width: 1150px)
    #side_nav
        width: 40%

    #user-menu__trigger
        span
            display: none
@media screen and (max-width: 850px)

        #user-menu__trigger
            span
                display: none


@media screen and (max-width: 1200px)    
    #side_nav
        margin: 0 auto
    #mobile_menu__trigger
        margin-left: auto
        margin-right: 0
        display: flex
        margin-top: 30px



@media screen and (max-width: 600px)
    #side_nav
        font-size: 28px
        gap: 8px
        .side_icon
            img
                height: 25px
        #user-menu__trigger
            color: #000
            text-decoration: none
            cursor: pointer
            margin-right: 0
            width: 40px
            span
                display: none
            img
                margin: 0 auto