.sidenavs_col
    max-width: 250px
    width: 28%
.somfy_side__menus
    .somfy_side_nav
        width: 100%
        margin-bottom: 70px
        .side_nav__title
            font-size: 20px
            font-weight: bold
        .side_nav__links_list
            list-style: none
            padding: 0
            margin-top: 30px
            .side_nav__item
                height: 60px
                background: #fff
                margin: 7px 0
                -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
                box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1)
                a
                    display: flex
                    flex-flow: row
                    text-decoration: none
                    align-items: center
                    width: 100%
                    height: 100%
                    
                .side_nav__item_title
                    padding: 0 15px
                    color: #000000
                    display: flex
                    flex-flow: row
                    align-items: center
                    flex-grow: 1
                    justify-content: space-between
                    transition: all 0.2s ease-in-out
                    &:hover
                        color: #DA5F15
                    i
                        color: #DA5F15
                .side_nav__item_icon
                    background: #DA5F15
                    height: 60px
                    width: 70px
                    display: flex
                    flex-flow: row
                    align-items: center
                    justify-content: center
                    img
                        height: 40px


    #account__side_nav
        .side_nav__links_list
            .side_nav__item
                .side_nav__item_title
                    i
                        color: #DA5F15
                .side_nav__item_icon
                    background: #DA5F15
    #somfy_actions__side_nav
        .side_nav__links_list
            .side_nav__item
                .side_nav__item_title
                    i
                        color: #1D1A34
                .side_nav__item_icon
                    background: #1D1A34

@media screen and (max-width: 800px)
    .sidenavs_col
        max-width: 100%
        width: 100%
